# Import Data

In [1]:
import yfinance as yf
import pandas as pd

tickers = ['PG', 'BEI.DE']
start_date = '2007-01-01'

sec_data = pd.DataFrame()

for t in tickers:      
    sec_data[t] = yf.download(t, start=start_date)['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [2]:
sec_data

                    PG      BEI.DE
Date
2007-01-03   38.616390   41.022556
2007-01-04   38.323215   41.291924
2007-01-05   37.994133   40.443066
2007-01-08   38.077904   40.451225
2007-01-09   37.982155   39.537071
...                ...         ...
2024-12-24  168.940002         NaN
2024-12-26  170.160004         NaN
2024-12-27  169.529999  123.199997
2024-12-30  167.089996  124.000000
2024-12-31  167.649994         NaN

[4530 rows x 2 columns]

In [3]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4530 entries, 2007-01-03 to 2024-12-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PG      4530 non-null   float64
 1   BEI.DE  4454 non-null   float64
dtypes: float64(2)
memory usage: 106.2 KB

# Calculate Log Return

In [4]:
import numpy as np

sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2024-12-24  0.004925       NaN
2024-12-26  0.007196       NaN
2024-12-27 -0.003709       NaN
2024-12-30 -0.014497  0.006473
2024-12-31  0.003346       NaN

[4530 rows x 2 columns]

# Calculate Variance (PG)

In [6]:
PG_var = sec_returns['PG'].var()
PG_var

0.00013485550148576055

In [7]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03371387537144014

# Calculate Variance (BEI)

In [8]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00017961445595245687

In [9]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04490361398811422

# Calculate Covariance

In [10]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000135  0.000041
BEI.DE  0.000041  0.000180

In [11]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.033714  0.010348
BEI.DE  0.010348  0.044904

# Calculate Correlation

In [12]:
# Don't annualise, doesn't contain average daily values, it's already the relation between the historical data of the stocks
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.265342
BEI.DE  0.265342  1.000000