### Inflation (CPI)

In [1]:
import pandas as pd
import requests
from io import StringIO
import os

# Base OECD API URL (API query builder - Time Series)
url = "https://sdmx.oecd.org/public/rest/data/OECD.SDD.TPS,DSD_PRICES@DF_PRICES_ALL,1.0/JPN+CHN+NZL+AUS+IND+BRA+EA20+USA+GBR+CHE+CAN.Q.N.CPI.PA._T.N.GY?startPeriod=2000-Q1"
url = f"{url}&format=csvfilewithlabels"

# Fetch the data
response = requests.get(url)

if response.status_code == 200:
    # Load into DataFrame
    cpi_df = pd.read_csv(StringIO(response.text))
    print(cpi_df.head())

    # Create directory if it doesn't exist
    directory = '05. Exchange Rates Forecast OECD-Yahoo'
    if not os.path.exists(directory):
        os.makedirs(directory)

    # Save the CSV file in the directory
    output_file = os.path.join(directory, 'cpi_data.csv')
    cpi_df.to_csv(output_file, index=False)
    print(f"Data saved to '{output_file}'")
else:
    print(f"Failed to fetch data: {response.status_code} {response.reason}")
    
# Source: https://data-explorer.oecd.org/vis?lc=en&pg=0&bp=true&snb=57&tm=inflation&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_PRICES%40DF_PRICES_ALL&df[ag]=OECD.SDD.TPS&df[vs]=1.0&dq=JPN%2BCHN%2BNZL%2BAUS%2BIND%2BBRA%2BEA20%2BUSA%2BGBR%2BCHE%2BCAN.Q.N.CPI.PA._T.N.GY&pd=2000-Q1%2C&to[TIME_PERIOD]=false&vw=tb

  STRUCTURE                                STRUCTURE_ID  \
0  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
1  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
2  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
3  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
4  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)

                                      STRUCTURE_NAME ACTION REF_AREA  \
0  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
1  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
2  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
3  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
4  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL

  Reference area FREQ Frequency of observation METHODOLOGY Methodology  ...  \
0    New Zealand    Q                Quarterly           N    National  ...
1    New Zealand    Q                Quarterly           N    National  ...
2    New Zealand    Q                Quarterly           N    National  ...
3    New Zealand    Q                Quarterly           N    National  ...
4    New Zealand    Q                Quarterly           N    National  ...

  OBS_STATUS Observation status UNIT_MULT Unit multiplier BASE_PER  \
0          A       Normal value       NaN             NaN      NaN
1          A       Normal value       NaN             NaN      NaN
2          A       Normal value       NaN             NaN      NaN
3          A       Normal value       NaN             NaN      NaN
4          A       Normal value       NaN             NaN      NaN

  Base period DURABILITY Durability DECIMALS Decimals
0         NaN        NaN        NaN        2      Two
1         NaN        NaN        NaN        2      Two
2         NaN        NaN        NaN        2      Two
3         NaN        NaN        NaN        2      Two
4         NaN        NaN        NaN        2      Two

[5 rows x 34 columns]
Data saved to '05. Exchange Rates Forecast OECD-Yahoo\cpi_data.csv'

In [2]:
file_path = os.path.join(directory, 'cpi_data.csv')

# Ensure the directory exists
if os.path.exists(file_path):
    # Read the CSV file
    cpi_df = pd.read_csv(file_path)
    print(cpi_df.head())

    # Set the first column as the index (dates)
    cpi_df.set_index(cpi_df.columns[0], inplace=True)
    print(cpi_df)
else:
    print(f"File '{file_path}' does not exist. Please ensure the data has been saved.")

  STRUCTURE                                STRUCTURE_ID  \
0  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
1  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
2  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
3  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
4  DATAFLOW  OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)

                                      STRUCTURE_NAME ACTION REF_AREA  \
0  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
1  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
2  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
3  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
4  Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL

  Reference area FREQ Frequency of observation METHODOLOGY Methodology  ...  \
0    New Zealand    Q                Quarterly           N    National  ...
1    New Zealand    Q                Quarterly           N    National  ...
2    New Zealand    Q                Quarterly           N    National  ...
3    New Zealand    Q                Quarterly           N    National  ...
4    New Zealand    Q                Quarterly           N    National  ...

  OBS_STATUS Observation status UNIT_MULT Unit multiplier BASE_PER  \
0          A       Normal value       NaN             NaN      NaN
1          A       Normal value       NaN             NaN      NaN
2          A       Normal value       NaN             NaN      NaN
3          A       Normal value       NaN             NaN      NaN
4          A       Normal value       NaN             NaN      NaN

  Base period DURABILITY Durability DECIMALS Decimals
0         NaN        NaN        NaN        2      Two
1         NaN        NaN        NaN        2      Two
2         NaN        NaN        NaN        2      Two
3         NaN        NaN        NaN        2      Two
4         NaN        NaN        NaN        2      Two

[5 rows x 34 columns]
                                         STRUCTURE_ID  \
STRUCTURE
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
...                                               ...
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)
DATAFLOW   OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0)

                                              STRUCTURE_NAME ACTION REF_AREA  \
STRUCTURE
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      NZL
...                                                      ...    ...      ...
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      JPN
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I     EA20
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      BRA
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      AUS
DATAFLOW   Consumer price indices (CPIs, HICPs), COICOP 1999      I      GBR

                     Reference area FREQ Frequency of observation METHODOLOGY  \
STRUCTURE
DATAFLOW                New Zealand    Q                Quarterly           N
DATAFLOW                New Zealand    Q                Quarterly           N
DATAFLOW                New Zealand    Q                Quarterly           N
DATAFLOW                New Zealand    Q                Quarterly           N
DATAFLOW                New Zealand    Q                Quarterly           N
...                             ...  ...                      ...         ...
DATAFLOW                      Japan    Q                Quarterly           N
DATAFLOW   Euro area (20 countries)    Q                Quarterly           N
DATAFLOW                     Brazil    Q                Quarterly           N
DATAFLOW                  Australia    Q                Quarterly           N
DATAFLOW             United Kingdom    Q                Quarterly           N

          Methodology MEASURE  ... OBS_STATUS Observation status UNIT_MULT  \
STRUCTURE                      ...
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
...               ...     ...  ...        ...                ...       ...
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN
DATAFLOW     National     CPI  ...          A       Normal value       NaN

          Unit multiplier BASE_PER Base period DURABILITY Durability DECIMALS  \
STRUCTURE
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
...                   ...      ...         ...        ...        ...      ...
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2
DATAFLOW              NaN      NaN         NaN        NaN        NaN        2

          Decimals
STRUCTURE
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two
...            ...
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two
DATAFLOW       Two

[1076 rows x 33 columns]

In [3]:
# Set 'TIME_PERIOD' as the index
cpi_df.set_index('TIME_PERIOD', inplace=True, drop=True)

cpi_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,METHODOLOGY,Methodology,MEASURE,...,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,BASE_PER,Base period,DURABILITY,Durability,DECIMALS,Decimals
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2013-Q1,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2012-Q4,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2001-Q2,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2001-Q1,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2000-Q4,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-Q3,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,JPN,Japan,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2013-Q2,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,EA20,Euro area (20 countries),Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2013-Q2,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,BRA,Brazil,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2013-Q2,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,AUS,Australia,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2013-Q2,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,GBR,United Kingdom,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two

In [4]:
# Adjust the index to reflect the end of each quarter (without time details)
cpi_df.index = pd.PeriodIndex(cpi_df.index, freq='Q')  # Convert to PeriodIndex with quarterly frequency
cpi_df.index = cpi_df.index.end_time.date  # Convert Period to the end date of the quarter (as a date)

# Sort the DataFrame in chronological order
cpi_df = cpi_df.sort_index()

cpi_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,METHODOLOGY,Methodology,MEASURE,...,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,BASE_PER,Base period,DURABILITY,Durability,DECIMALS,Decimals
2000-03-31,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,BRA,Brazil,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2000-03-31,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,EA20,Euro area (20 countries),Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2000-03-31,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,JPN,Japan,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2000-03-31,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,GBR,United Kingdom,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2000-03-31,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,CAN,Canada,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,NZL,New Zealand,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2024-09-30,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,EA20,Euro area (20 countries),Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2024-09-30,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,GBR,United Kingdom,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2024-09-30,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,AUS,Australia,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two
2024-09-30,OECD.SDD.TPS:DSD_PRICES@DF_PRICES_ALL(1.0),"Consumer price indices (CPIs, HICPs), COICOP 1999",I,IND,India,Q,Quarterly,N,National,CPI,...,A,Normal value,NaN,NaN,NaN,NaN,NaN,NaN,2,Two

In [5]:
# Pivot the DataFrame so that countries become columns
cpi_df = cpi_df.pivot(columns='REF_AREA', values='OBS_VALUE')

cpi_df

REF_AREA,AUS,BRA,CAN,CHE,CHN,EA20,GBR,IND,JPN,NZL,USA
2000-03-31,2.802360,7.872626,2.653580,1.563958,0.100897,2.005636,1.1,3.682946,-0.613079,1.485023,3.240178
2000-06-30,3.083700,6.582804,2.445164,1.607336,0.096920,1.960720,1.0,5.263158,-0.712831,2.000000,3.329322
2000-09-30,6.113537,7.561886,2.714286,1.483809,0.264006,2.265031,1.2,4.143862,-0.646919,2.988048,3.508073
2000-12-31,5.788712,6.201552,3.060498,1.579184,0.930059,2.529457,1.4,2.986217,-0.783112,3.976143,3.427100
2001-03-31,6.025825,6.211651,2.762040,1.016693,0.663740,2.157986,1.3,2.934363,-0.411241,3.060217,3.393488
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,5.373832,4.593984,3.686737,1.604662,-0.064579,4.953429,6.3,6.387328,NaN,5.649241,3.514290
2023-12-31,4.051988,4.707650,3.211109,1.617260,-0.322581,2.741842,4.4,4.782280,NaN,4.655029,3.243401
2024-03-31,3.619910,4.308135,2.846668,1.163635,-0.032185,2.594262,3.9,4.563691,NaN,4.022988,3.241019
2024-06-30,3.814510,3.947341,2.741181,1.361983,0.226831,2.482557,2.9,3.799654,NaN,3.330626,3.198886
2024-09-30,2.808573,4.386920,2.040816,1.064545,0.484653,2.164851,2.9,2.929875,NaN,2.154828,2.621493

In [6]:
data_type = 'cpi'

# Create a mapping of country codes to currency abbreviations
country_mapping = {
    'AUS': 'AUD',
    'BRA': 'BRL',
    'CHN': 'CNY',
    'CAN': 'CAD',
    'CHE': 'CHF',
    'EA20': 'EUR',
    'JPN': 'JPY', 
    'GBR': 'GBP',
    'IND': 'INR',
    'NZL': 'NZD',
    'USA': 'USD',
    
}

# Function to rename columns in a DataFrame based on the mapping
def rename_columns_cpi(df, mapping, data_type):
    
    # Iterate through the columns and map them if the column name exists in the mapping
    new_columns = [f"{mapping[col]} {data_type.upper()}" if col in mapping else col for col in df.columns]
    df.columns = new_columns
    return df

In [7]:
# Apply the rename_columns function
cpi_df = rename_columns_cpi(cpi_df, country_mapping, data_type)

cpi_df

,AUD CPI,BRL CPI,CAD CPI,CHF CPI,CNY CPI,EUR CPI,GBP CPI,INR CPI,JPY CPI,NZD CPI,USD CPI
2000-03-31,2.802360,7.872626,2.653580,1.563958,0.100897,2.005636,1.1,3.682946,-0.613079,1.485023,3.240178
2000-06-30,3.083700,6.582804,2.445164,1.607336,0.096920,1.960720,1.0,5.263158,-0.712831,2.000000,3.329322
2000-09-30,6.113537,7.561886,2.714286,1.483809,0.264006,2.265031,1.2,4.143862,-0.646919,2.988048,3.508073
2000-12-31,5.788712,6.201552,3.060498,1.579184,0.930059,2.529457,1.4,2.986217,-0.783112,3.976143,3.427100
2001-03-31,6.025825,6.211651,2.762040,1.016693,0.663740,2.157986,1.3,2.934363,-0.411241,3.060217,3.393488
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,5.373832,4.593984,3.686737,1.604662,-0.064579,4.953429,6.3,6.387328,NaN,5.649241,3.514290
2023-12-31,4.051988,4.707650,3.211109,1.617260,-0.322581,2.741842,4.4,4.782280,NaN,4.655029,3.243401
2024-03-31,3.619910,4.308135,2.846668,1.163635,-0.032185,2.594262,3.9,4.563691,NaN,4.022988,3.241019
2024-06-30,3.814510,3.947341,2.741181,1.361983,0.226831,2.482557,2.9,3.799654,NaN,3.330626,3.198886
2024-09-30,2.808573,4.386920,2.040816,1.064545,0.484653,2.164851,2.9,2.929875,NaN,2.154828,2.621493

In [8]:
# Generate a date range covering the desired period
full_date_range = pd.date_range(start=cpi_df.index.min(), end=cpi_df.index.max(), freq='QE')

# Reindex the DataFrame to include all dates in the complete range
cpi_df = cpi_df.reindex(full_date_range)

# Rename the index to 'Date' for clarity
cpi_df.index.name = 'Date'

# Ensure 'JPY CPI' column exists
if 'JPY CPI' not in cpi_df.columns:
    cpi_df['JPY CPI'] = None

# Manually add the missing JPY CPI values for specific dates
manual_updates = {
    '2021-09-30': 0.1,
    '2021-12-31': 0.4,
    '2022-03-31': 0.8,
    '2022-06-30': 2.0,
    '2022-09-30': 3.0,
    '2022-12-31': 3.8,
    '2023-03-31': 3.4,
    '2023-06-30': 2.8,
    '2023-09-30': 3.0,
    '2023-12-31': 3.1,
    '2024-03-31': 3.0,
    '2024-06-30': 2.9,
    '2024-09-30': 2.8,
}

# Update only the specified rows in the 'JPY CPI' column
for date, value in manual_updates.items():
    if pd.Timestamp(date) in cpi_df.index:
        cpi_df.at[pd.Timestamp(date), 'JPY CPI'] = value

# Print the updated DataFrame
cpi_df.tail(17)

,AUD CPI,BRL CPI,CAD CPI,CHF CPI,CNY CPI,EUR CPI,GBP CPI,INR CPI,JPY CPI,NZD CPI,USD CPI
Date,,,,,,,,,,,
2020-09-30,0.693241,2.626523,0.268293,-0.862000,1.958384,-0.034894,0.8,5.530673,0.033344,1.443696,1.222386
2020-12-31,0.860585,4.250595,0.781632,-0.689605,0.120048,-0.278534,0.8,4.952394,-0.928998,1.436782,1.239488
2021-03-31,1.114923,5.285479,1.436222,-0.431098,-0.108966,1.057190,0.9,4.435952,-0.531385,1.520913,1.898514
2021-06-30,3.846154,7.720136,3.349633,0.494460,1.268126,1.829846,2.1,5.325812,-0.732845,3.342885,4.848945
2021-09-30,3.012048,9.642137,4.062272,0.834255,1.000762,2.830578,2.7,4.824363,0.100000,4.933586,5.335693
2021-12-31,3.498293,10.488240,4.726127,1.435084,1.782459,4.630864,4.4,4.969291,0.400000,5.949008,6.689106
2022-03-31,5.089058,10.743590,5.831533,2.062541,1.153593,6.147593,5.5,5.409193,0.800000,6.928839,7.966707
2022-06-30,6.144781,11.915930,7.546723,2.958964,2.255390,8.066168,7.9,6.484548,2.000000,7.301294,8.635612
2022-09-30,7.268170,8.645370,7.152875,3.379309,2.651641,9.334979,8.7,6.041723,3.000000,7.233273,8.329475
2022-12-31,7.831822,6.050101,6.665124,2.932198,1.839685,9.974216,9.4,5.664894,3.800000,7.219251,7.101672
2023-03-31,7.021792,5.335400,5.147392,3.199217,1.238188,8.017930,9.0,6.035629,3.400000,6.654991,5.804770
2023-06-30,6.026963,3.758699,3.519578,2.143340,0.097308,6.197587,7.7,5.027209,2.800000,6.029285,3.974292
2023-09-30,5.373832,4.593984,3.686737,1.604662,-0.064579,4.953429,6.3,6.387328,3.000000,5.649241,3.514290
2023-12-31,4.051988,4.707650,3.211109,1.617260,-0.322581,2.741842,4.4,4.782280,3.100000,4.655029,3.243401
2024-03-31,3.619910,4.308135,2.846668,1.163635,-0.032185,2.594262,3.9,4.563691,3.000000,4.022988,3.241019
2024-06-30,3.814510,3.947341,2.741181,1.361983,0.226831,2.482557,2.9,3.799654,2.900000,3.330626,3.198886
2024-09-30,2.808573,4.386920,2.040816,1.064545,0.484653,2.164851,2.9,2.929875,2.800000,2.154828,2.621493

In [9]:
# Count of NaN values in each column
nan_columns = cpi_df.isnull().sum()

# Filter columns with NaN count greater than 0
nan_columns = nan_columns[nan_columns > 0]

nan_columns

Series([], dtype: int64)

In [10]:
# Replace NaN values with the value from the previous row
cpi_df.ffill(inplace=True)

cpi_df

,AUD CPI,BRL CPI,CAD CPI,CHF CPI,CNY CPI,EUR CPI,GBP CPI,INR CPI,JPY CPI,NZD CPI,USD CPI
Date,,,,,,,,,,,
2000-03-31,2.802360,7.872626,2.653580,1.563958,0.100897,2.005636,1.1,3.682946,-0.613079,1.485023,3.240178
2000-06-30,3.083700,6.582804,2.445164,1.607336,0.096920,1.960720,1.0,5.263158,-0.712831,2.000000,3.329322
2000-09-30,6.113537,7.561886,2.714286,1.483809,0.264006,2.265031,1.2,4.143862,-0.646919,2.988048,3.508073
2000-12-31,5.788712,6.201552,3.060498,1.579184,0.930059,2.529457,1.4,2.986217,-0.783112,3.976143,3.427100
2001-03-31,6.025825,6.211651,2.762040,1.016693,0.663740,2.157986,1.3,2.934363,-0.411241,3.060217,3.393488
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,5.373832,4.593984,3.686737,1.604662,-0.064579,4.953429,6.3,6.387328,3.000000,5.649241,3.514290
2023-12-31,4.051988,4.707650,3.211109,1.617260,-0.322581,2.741842,4.4,4.782280,3.100000,4.655029,3.243401
2024-03-31,3.619910,4.308135,2.846668,1.163635,-0.032185,2.594262,3.9,4.563691,3.000000,4.022988,3.241019
2024-06-30,3.814510,3.947341,2.741181,1.361983,0.226831,2.482557,2.9,3.799654,2.900000,3.330626,3.198886
2024-09-30,2.808573,4.386920,2.040816,1.064545,0.484653,2.164851,2.9,2.929875,2.800000,2.154828,2.621493

### Real GDP

In [11]:
# Base OECD API URL (API query builder - Time Series)
url = "https://sdmx.oecd.org/public/rest/data/OECD.SDD.NAD,DSD_NAMAIN1@DF_QNA_EXPENDITURE_GROWTH_OECD,1.1/Q..CHN+IND+BRA+AUS+CAN+CHE+GBR+JPN+NZL+USA+EA20.S1..P3+B1GQ......GY.?startPeriod=2000-Q1"
url = f"{url}&format=csvfilewithlabels"

# Fetch the data
response = requests.get(url)

if response.status_code == 200:
    # Load into DataFrame
    gdp_df = pd.read_csv(StringIO(response.text))
    print(gdp_df.head())

    # Save the CSV file in the directory
    output_file = os.path.join(directory, 'gdp_data.csv')
    gdp_df.to_csv(output_file, index=False)
    print(f"Data saved to '{output_file}'")
else:
    print(f"Failed to fetch data: {response.status_code} {response.reason}")
    
# Source: https://data-explorer.oecd.org/vis?lc=en&pg=0&bp=true&snb=51&tm=real%20gdp&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_NAMAIN1%40DF_QNA_EXPENDITURE_GROWTH_OECD&df[ag]=OECD.SDD.NAD&df[vs]=1.1&dq=Q..CHN%2BIND%2BBRA%2BAUS%2BCAN%2BCHE%2BGBR%2BJPN%2BNZL%2BUSA%2BEA20.S1..P3%2BB1GQ......GY.&pd=2000-Q1%2C&to[TIME_PERIOD]=false&vw=tb

  STRUCTURE                                       STRUCTURE_ID  \
0  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
1  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
2  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
3  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
4  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...

                               STRUCTURE_NAME ACTION FREQ  \
0  Quarterly real GDP growth - OECD countries      I    Q
1  Quarterly real GDP growth - OECD countries      I    Q
2  Quarterly real GDP growth - OECD countries      I    Q
3  Quarterly real GDP growth - OECD countries      I    Q
4  Quarterly real GDP growth - OECD countries      I    Q

  Frequency of observation ADJUSTMENT                        Adjustment  \
0                Quarterly          Y  Calendar and seasonally adjusted
1                Quarterly          Y  Calendar and seasonally adjusted
2                Quarterly          Y  Calendar and seasonally adjusted
3                Quarterly          Y  Calendar and seasonally adjusted
4                Quarterly          Y  Calendar and seasonally adjusted

  REF_AREA                Reference area  ... CONF_STATUS  \
0      BRA                        Brazil  ...           F
1      CHN  China (People’s Republic of)  ...           F
2      CHN  China (People’s Republic of)  ...           F
3      BRA                        Brazil  ...           F
4      CHN  China (People’s Republic of)  ...           F

        Confidentiality status DECIMALS Decimals OBS_STATUS  \
0  Free (free for publication)        1      One          A
1  Free (free for publication)        1      One          A
2  Free (free for publication)        1      One          A
3  Free (free for publication)        1      One          A
4  Free (free for publication)        1      One          A

  Observation status UNIT_MULT Unit multiplier CURRENCY        Currency
0       Normal value         0           Units       _Z  Not applicable
1       Normal value         0           Units       _Z  Not applicable
2       Normal value         0           Units       _Z  Not applicable
3       Normal value         0           Units       _Z  Not applicable
4       Normal value         0           Units       _Z  Not applicable

[5 rows x 48 columns]
Data saved to '05. Exchange Rates Forecast OECD-Yahoo\gdp_data.csv'

In [12]:
file_path = os.path.join(directory, 'gdp_data.csv')

# Ensure the directory exists
if os.path.exists(file_path):
    # Read the CSV file
    gdp_df = pd.read_csv(file_path)
    print(gdp_df.head())

    # Set the first column as the index (dates)
    gdp_df.set_index(gdp_df.columns[0], inplace=True)
    print(gdp_df)
else:
    print(f"File '{file_path}' does not exist. Please ensure the data has been saved.")

  STRUCTURE                                       STRUCTURE_ID  \
0  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
1  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
2  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
3  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
4  DATAFLOW  OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...

                               STRUCTURE_NAME ACTION FREQ  \
0  Quarterly real GDP growth - OECD countries      I    Q
1  Quarterly real GDP growth - OECD countries      I    Q
2  Quarterly real GDP growth - OECD countries      I    Q
3  Quarterly real GDP growth - OECD countries      I    Q
4  Quarterly real GDP growth - OECD countries      I    Q

  Frequency of observation ADJUSTMENT                        Adjustment  \
0                Quarterly          Y  Calendar and seasonally adjusted
1                Quarterly          Y  Calendar and seasonally adjusted
2                Quarterly          Y  Calendar and seasonally adjusted
3                Quarterly          Y  Calendar and seasonally adjusted
4                Quarterly          Y  Calendar and seasonally adjusted

  REF_AREA                Reference area  ... CONF_STATUS  \
0      BRA                        Brazil  ...           F
1      CHN  China (People’s Republic of)  ...           F
2      CHN  China (People’s Republic of)  ...           F
3      BRA                        Brazil  ...           F
4      CHN  China (People’s Republic of)  ...           F

        Confidentiality status DECIMALS Decimals OBS_STATUS  \
0  Free (free for publication)        1      One          A
1  Free (free for publication)        1      One          A
2  Free (free for publication)        1      One          A
3  Free (free for publication)        1      One          A
4  Free (free for publication)        1      One          A

  Observation status UNIT_MULT Unit multiplier CURRENCY        Currency
0       Normal value         0           Units       _Z  Not applicable
1       Normal value         0           Units       _Z  Not applicable
2       Normal value         0           Units       _Z  Not applicable
3       Normal value         0           Units       _Z  Not applicable
4       Normal value         0           Units       _Z  Not applicable

[5 rows x 48 columns]
                                                STRUCTURE_ID  \
STRUCTURE
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
...                                                      ...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...
DATAFLOW   OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...

                                       STRUCTURE_NAME ACTION FREQ  \
STRUCTURE
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
...                                               ...    ...  ...
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q
DATAFLOW   Quarterly real GDP growth - OECD countries      I    Q

          Frequency of observation ADJUSTMENT  \
STRUCTURE
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
...                            ...        ...
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y
DATAFLOW                 Quarterly          Y

                                 Adjustment REF_AREA  \
STRUCTURE
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      CHN
DATAFLOW   Calendar and seasonally adjusted      CHN
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      CHN
...                                     ...      ...
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      BRA
DATAFLOW   Calendar and seasonally adjusted      BRA

                         Reference area SECTOR  ... CONF_STATUS  \
STRUCTURE                                       ...
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW   China (People’s Republic of)     S1  ...           F
DATAFLOW   China (People’s Republic of)     S1  ...           F
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW   China (People’s Republic of)     S1  ...           F
...                                 ...    ...  ...         ...
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW                         Brazil     S1  ...           F
DATAFLOW                         Brazil     S1  ...           F

                Confidentiality status DECIMALS Decimals OBS_STATUS  \
STRUCTURE
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
...                                ...      ...      ...        ...
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A
DATAFLOW   Free (free for publication)        1      One          A

          Observation status UNIT_MULT Unit multiplier CURRENCY  \
STRUCTURE
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
...                      ...       ...             ...      ...
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z
DATAFLOW        Normal value         0           Units       _Z

                 Currency
STRUCTURE
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable
...                   ...
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable
DATAFLOW   Not applicable

[1089 rows x 47 columns]

In [13]:
# Set 'TIME_PERIOD' as the index
gdp_df.set_index('TIME_PERIOD', inplace=True, drop=True)
gdp_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Frequency of observation,ADJUSTMENT,Adjustment,REF_AREA,Reference area,SECTOR,...,CONF_STATUS,Confidentiality status,DECIMALS,Decimals,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,CURRENCY,Currency
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2013-Q2,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2022-Q2,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,CHN,China (People’s Republic of),S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2003-Q4,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,CHN,China (People’s Republic of),S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2000-Q4,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2024-Q2,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,CHN,China (People’s Republic of),S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-Q3,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2014-Q2,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2014-Q1,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2013-Q4,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2013-Q3,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable

In [14]:
# Adjust the index to reflect the end of each quarter (without time details)
gdp_df.index = pd.PeriodIndex(gdp_df.index, freq='Q')  # Convert to PeriodIndex with quarterly frequency
gdp_df.index = gdp_df.index.end_time.date  # Convert Period to the end date of the quarter (as a date)

# Sort the DataFrame in chronological order
gdp_df = gdp_df.sort_index()

gdp_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Frequency of observation,ADJUSTMENT,Adjustment,REF_AREA,Reference area,SECTOR,...,CONF_STATUS,Confidentiality status,DECIMALS,Decimals,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,CURRENCY,Currency
2000-03-31,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,USA,United States,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2000-03-31,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,NZL,New Zealand,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2000-03-31,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2000-03-31,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,CHE,Switzerland,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2000-03-31,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,IND,India,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,IND,India,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2024-09-30,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,CHE,Switzerland,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2024-09-30,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,BRA,Brazil,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2024-09-30,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,JPN,Japan,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable
2024-09-30,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Quarterly real GDP growth - OECD countries,I,Q,Quarterly,Y,Calendar and seasonally adjusted,GBR,United Kingdom,S1,...,F,Free (free for publication),1,One,A,Normal value,0,Units,_Z,Not applicable

In [15]:
# Pivot the DataFrame so that countries become columns
gdp_df = gdp_df.pivot(columns='REF_AREA', values='OBS_VALUE')

gdp_df

REF_AREA,AUS,BRA,CAN,CHE,CHN,EA20,GBR,IND,JPN,NZL,USA
2000-03-31,3.625673,3.004469,5.465610,4.340692,8.7,4.226815,4.875258,7.79075,2.701616,6.393194,4.224745
2000-06-30,4.210793,3.951529,5.834015,4.116938,9.1,4.614637,5.142985,5.21917,2.757195,5.585114,5.244457
2000-09-30,3.367038,5.271768,5.268841,4.566229,8.8,3.946640,4.118653,5.30476,2.241778,3.124661,3.973172
2000-12-31,1.242946,5.025380,4.019778,3.445181,7.5,3.382603,3.269011,3.63806,3.200249,2.066934,2.905594
2001-03-31,1.800952,4.126482,2.992719,2.564695,9.5,3.144827,2.955864,2.05570,2.196982,0.947405,2.197505
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,2.124153,2.805377,0.890673,0.348143,4.9,-0.008598,0.328335,8.00892,1.060138,0.698065,3.236308
2023-12-31,1.475337,2.542886,1.212521,0.516218,5.2,0.149605,-0.264808,8.72338,0.856637,0.912793,3.196217
2024-03-31,1.144397,2.216789,0.751357,0.595870,5.3,0.462277,0.349082,7.96068,-0.918050,1.329780,2.901832
2024-06-30,0.990669,2.809099,1.094132,1.401137,4.7,0.600144,0.693532,6.62045,-0.891938,-0.483892,3.036849
2024-09-30,0.843814,3.544523,1.493008,1.671738,4.6,0.928066,0.851665,5.76041,0.454161,-1.492558,2.718769

In [16]:
data_type = 'gdp'

# Create a mapping of country codes to currency abbreviations
country_mapping = {
    'AUS': 'AUD',
    'BRA': 'BRL',
    'CHN': 'CNY',
    'CAN': 'CAD',
    'CHE': 'CHF',
    'EA20': 'EUR',
    'JPN': 'JPY', 
    'GBR': 'GBP',
    'IND': 'INR',
    'NZL': 'NZD',
    'USA': 'USD',
    
}

# Function to rename columns in a DataFrame based on the mapping
def rename_columns_gdp(df, mapping, data_type):
    
    # Iterate through the columns and map them if the column name exists in the mapping
    new_columns = [f"{mapping[col]} {data_type.upper()}" if col in mapping else col for col in df.columns]
    df.columns = new_columns
    return df

In [17]:
# Apply the rename_columns function
gdp_df = rename_columns_gdp(gdp_df, country_mapping, data_type)

gdp_df

,AUD GDP,BRL GDP,CAD GDP,CHF GDP,CNY GDP,EUR GDP,GBP GDP,INR GDP,JPY GDP,NZD GDP,USD GDP
2000-03-31,3.625673,3.004469,5.465610,4.340692,8.7,4.226815,4.875258,7.79075,2.701616,6.393194,4.224745
2000-06-30,4.210793,3.951529,5.834015,4.116938,9.1,4.614637,5.142985,5.21917,2.757195,5.585114,5.244457
2000-09-30,3.367038,5.271768,5.268841,4.566229,8.8,3.946640,4.118653,5.30476,2.241778,3.124661,3.973172
2000-12-31,1.242946,5.025380,4.019778,3.445181,7.5,3.382603,3.269011,3.63806,3.200249,2.066934,2.905594
2001-03-31,1.800952,4.126482,2.992719,2.564695,9.5,3.144827,2.955864,2.05570,2.196982,0.947405,2.197505
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,2.124153,2.805377,0.890673,0.348143,4.9,-0.008598,0.328335,8.00892,1.060138,0.698065,3.236308
2023-12-31,1.475337,2.542886,1.212521,0.516218,5.2,0.149605,-0.264808,8.72338,0.856637,0.912793,3.196217
2024-03-31,1.144397,2.216789,0.751357,0.595870,5.3,0.462277,0.349082,7.96068,-0.918050,1.329780,2.901832
2024-06-30,0.990669,2.809099,1.094132,1.401137,4.7,0.600144,0.693532,6.62045,-0.891938,-0.483892,3.036849
2024-09-30,0.843814,3.544523,1.493008,1.671738,4.6,0.928066,0.851665,5.76041,0.454161,-1.492558,2.718769

In [18]:
# Count of NaN values in each column
nan_columns = gdp_df.isnull().sum()

# Filter columns with NaN count greater than 0
nan_columns = nan_columns[nan_columns > 0]

nan_columns

Series([], dtype: int64)

In [19]:
# Replace NaN values with the value from the previous row
gdp_df.ffill(inplace=True)

gdp_df

,AUD GDP,BRL GDP,CAD GDP,CHF GDP,CNY GDP,EUR GDP,GBP GDP,INR GDP,JPY GDP,NZD GDP,USD GDP
2000-03-31,3.625673,3.004469,5.465610,4.340692,8.7,4.226815,4.875258,7.79075,2.701616,6.393194,4.224745
2000-06-30,4.210793,3.951529,5.834015,4.116938,9.1,4.614637,5.142985,5.21917,2.757195,5.585114,5.244457
2000-09-30,3.367038,5.271768,5.268841,4.566229,8.8,3.946640,4.118653,5.30476,2.241778,3.124661,3.973172
2000-12-31,1.242946,5.025380,4.019778,3.445181,7.5,3.382603,3.269011,3.63806,3.200249,2.066934,2.905594
2001-03-31,1.800952,4.126482,2.992719,2.564695,9.5,3.144827,2.955864,2.05570,2.196982,0.947405,2.197505
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,2.124153,2.805377,0.890673,0.348143,4.9,-0.008598,0.328335,8.00892,1.060138,0.698065,3.236308
2023-12-31,1.475337,2.542886,1.212521,0.516218,5.2,0.149605,-0.264808,8.72338,0.856637,0.912793,3.196217
2024-03-31,1.144397,2.216789,0.751357,0.595870,5.3,0.462277,0.349082,7.96068,-0.918050,1.329780,2.901832
2024-06-30,0.990669,2.809099,1.094132,1.401137,4.7,0.600144,0.693532,6.62045,-0.891938,-0.483892,3.036849
2024-09-30,0.843814,3.544523,1.493008,1.671738,4.6,0.928066,0.851665,5.76041,0.454161,-1.492558,2.718769

### Interest Rates (APR)

In [20]:
# Base OECD API URL (API query builder - Time Series)
url = "https://sdmx.oecd.org/public/rest/data/OECD.SDD.STES,DSD_STES@DF_FINMARK,4.0/JPN+AUS+NZL+IND+CHN+BRA+CHE+EA19+USA+GBR+CAN.Q.IRSTCI.PA.....?startPeriod=2000-Q1"
url = f"{url}&format=csvfilewithlabels"

# Fetch the data
response = requests.get(url)

if response.status_code == 200:
    # Load into DataFrame
    interest_rates_df = pd.read_csv(StringIO(response.text))
    print(cpi_df.head())

    # Save the CSV file in the directory
    output_file = os.path.join(directory, 'interest_rates_data.csv')
    interest_rates_df.to_csv(output_file, index=False)
    print(f"Data saved to '{output_file}'")
else:
    print(f"Failed to fetch data: {response.status_code} {response.reason}")
    
# Source: https://data-explorer.oecd.org/vis?lc=en&pg=0&bp=true&snb=37&tm=interest%20rates&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_STES%40DF_FINMARK&df[ag]=OECD.SDD.STES&df[vs]=4.0&dq=JPN%2BAUS%2BNZL%2BIND%2BCHN%2BBRA%2BCHE%2BEA19%2BUSA%2BGBR%2BCAN.Q.IRSTCI.PA.....&pd=2000-Q1%2C&to[TIME_PERIOD]=false&vw=tb&lb=nm

             AUD CPI   BRL CPI   CAD CPI   CHF CPI   CNY CPI   EUR CPI  \
Date
2000-03-31  2.802360  7.872626  2.653580  1.563958  0.100897  2.005636
2000-06-30  3.083700  6.582804  2.445164  1.607336  0.096920  1.960720
2000-09-30  6.113537  7.561886  2.714286  1.483809  0.264006  2.265031
2000-12-31  5.788712  6.201552  3.060498  1.579184  0.930059  2.529457
2001-03-31  6.025825  6.211651  2.762040  1.016693  0.663740  2.157986

            GBP CPI   INR CPI   JPY CPI   NZD CPI   USD CPI
Date
2000-03-31      1.1  3.682946 -0.613079  1.485023  3.240178
2000-06-30      1.0  5.263158 -0.712831  2.000000  3.329322
2000-09-30      1.2  4.143862 -0.646919  2.988048  3.508073
2000-12-31      1.4  2.986217 -0.783112  3.976143  3.427100
2001-03-31      1.3  2.934363 -0.411241  3.060217  3.393488
Data saved to '05. Exchange Rates Forecast OECD-Yahoo\interest_rates_data.csv'

In [21]:
file_path = os.path.join(directory, 'interest_rates_data.csv')

# Ensure the directory exists
if os.path.exists(file_path):
    # Read the CSV file
    interest_rates_df = pd.read_csv(file_path)
    print(interest_rates_df.head())

    # Set the first column as the index (dates)
    interest_rates_df.set_index(interest_rates_df.columns[0], inplace=True)
    print(interest_rates_df)
else:
    print(f"File '{file_path}' does not exist. Please ensure the data has been saved.")

  STRUCTURE                            STRUCTURE_ID    STRUCTURE_NAME ACTION  \
0  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
1  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
2  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
3  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
4  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I

  REF_AREA            Reference area FREQ Frequency of observation MEASURE  \
0      BRA                    Brazil    Q                Quarterly  IRSTCI
1      BRA                    Brazil    Q                Quarterly  IRSTCI
2     EA19  Euro area (19 countries)    Q                Quarterly  IRSTCI
3     EA19  Euro area (19 countries)    Q                Quarterly  IRSTCI
4     EA19  Euro area (19 countries)    Q                Quarterly  IRSTCI

                                             Measure  ... OBS_VALUE  \
0  Immediate interest rates, call money, interban...  ...   15.2500
1  Immediate interest rates, call money, interban...  ...   14.2500
2  Immediate interest rates, call money, interban...  ...    4.5905
3  Immediate interest rates, call money, interban...  ...    4.8268
4  Immediate interest rates, call money, interban...  ...    4.7814

  Observation value OBS_STATUS Observation status UNIT_MULT Unit multiplier  \
0               NaN          A       Normal value         0           Units
1               NaN          A       Normal value         0           Units
2               NaN          A       Normal value         0           Units
3               NaN          A       Normal value         0           Units
4               NaN          A       Normal value         0           Units

  DECIMALS Decimals BASE_PER Base period
0        2      Two      NaN         NaN
1        2      Two      NaN         NaN
2        2      Two      NaN         NaN
3        2      Two      NaN         NaN
4        2      Two      NaN         NaN

[5 rows x 34 columns]
                                     STRUCTURE_ID    STRUCTURE_NAME ACTION  \
STRUCTURE
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
...                                           ...               ...    ...
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
DATAFLOW   OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I

          REF_AREA            Reference area FREQ Frequency of observation  \
STRUCTURE
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW      EA19  Euro area (19 countries)    Q                Quarterly
DATAFLOW      EA19  Euro area (19 countries)    Q                Quarterly
DATAFLOW      EA19  Euro area (19 countries)    Q                Quarterly
...            ...                       ...  ...                      ...
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW       BRA                    Brazil    Q                Quarterly
DATAFLOW       BRA                    Brazil    Q                Quarterly

          MEASURE                                            Measure  \
STRUCTURE
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
...           ...                                                ...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...
DATAFLOW   IRSTCI  Immediate interest rates, call money, interban...

          UNIT_MEASURE  ... OBS_VALUE Observation value OBS_STATUS  \
STRUCTURE               ...
DATAFLOW            PA  ...   15.2500               NaN          A
DATAFLOW            PA  ...   14.2500               NaN          A
DATAFLOW            PA  ...    4.5905               NaN          A
DATAFLOW            PA  ...    4.8268               NaN          A
DATAFLOW            PA  ...    4.7814               NaN          A
...                ...  ...       ...               ...        ...
DATAFLOW            PA  ...   18.9900               NaN          A
DATAFLOW            PA  ...   19.7500               NaN          A
DATAFLOW            PA  ...   19.6200               NaN          A
DATAFLOW            PA  ...   18.2300               NaN          A
DATAFLOW            PA  ...   16.6900               NaN          A

          Observation status UNIT_MULT Unit multiplier DECIMALS Decimals  \
STRUCTURE
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
...                      ...       ...             ...      ...      ...
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two
DATAFLOW        Normal value         0           Units        2      Two

          BASE_PER Base period
STRUCTURE
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
...            ...         ...
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN
DATAFLOW       NaN         NaN

[1089 rows x 33 columns]

In [22]:
# Set 'TIME_PERIOD' as the index
interest_rates_df.set_index('TIME_PERIOD', inplace=True, drop=True)
interest_rates_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,UNIT_MEASURE,...,OBS_VALUE,Observation value,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals,BASE_PER,Base period
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2006-Q2,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,15.2500,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2006-Q3,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,14.2500,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-Q3,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,EA19,Euro area (19 countries),Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,4.5905,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-Q4,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,EA19,Euro area (19 countries),Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,4.8268,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2001-Q1,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,EA19,Euro area (19 countries),Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,4.7814,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-Q1,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,18.9900,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2005-Q2,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,19.7500,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2005-Q3,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,19.6200,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2005-Q4,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,18.2300,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2006-Q1,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,16.6900,NaN,A,Normal value,0,Units,2,Two,NaN,NaN

In [23]:
# Adjust the index to reflect the end of each quarter (without time details)
interest_rates_df.index = pd.PeriodIndex(interest_rates_df.index, freq='Q')  # Convert to PeriodIndex with quarterly frequency
interest_rates_df.index = interest_rates_df.index.end_time.date  # Convert Period to the end date of the quarter (as a date)

# Sort the DataFrame in chronological order
interest_rates_df = interest_rates_df.sort_index()

interest_rates_df

,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,UNIT_MEASURE,...,OBS_VALUE,Observation value,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals,BASE_PER,Base period
2000-03-31,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,JPN,Japan,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,0.021360,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-03-31,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,NZL,New Zealand,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,5.510000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-03-31,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,GBR,United Kingdom,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,5.762000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-03-31,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,18.950000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2000-03-31,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,USA,United States,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,5.850000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,USA,United States,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,5.123104,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2024-09-30,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,BRA,Brazil,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,10.600000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2024-09-30,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,GBR,United Kingdom,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,4.950000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2024-09-30,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,CHN,China (People’s Republic of),Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,2.900000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2024-09-30,OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0),Financial market,I,CAN,Canada,Q,Quarterly,IRSTCI,"Immediate interest rates, call money, interban...",PA,...,4.297422,NaN,A,Normal value,0,Units,2,Two,NaN,NaN

In [24]:
# Pivot the DataFrame so that countries become columns
interest_rates_df = interest_rates_df.pivot(columns='REF_AREA', values='OBS_VALUE')

interest_rates_df

REF_AREA,AUS,BRA,CAN,CHE,CHN,EA19,GBR,IND,JPN,NZL,USA
2000-03-31,5.50,18.95,5.248600,2.35,3.24,3.510400,5.7620,8.00,0.02136,5.51,5.850000
2000-06-30,6.00,18.17,5.750000,3.05,3.24,4.294500,5.9032,7.00,0.02091,6.50,6.530000
2000-09-30,6.25,16.50,5.742900,3.10,3.24,4.590500,6.1259,8.00,0.24950,6.50,6.520000
2000-12-31,6.25,16.23,5.800000,3.50,3.24,4.826800,5.7383,8.00,0.24143,6.51,6.400000
2001-03-31,5.55,15.41,4.992700,3.35,3.24,4.781400,5.4017,7.00,0.10667,6.35,5.310000
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,4.10,13.08,4.991785,1.20,2.90,3.712522,5.1854,6.75,-0.05400,5.39,5.330000
2023-12-31,4.35,11.96,5.015479,1.60,2.90,3.903442,5.1870,6.75,-0.01200,5.35,5.330000
2024-03-31,4.35,11.07,5.002890,1.34,2.90,3.907311,5.1891,6.75,0.02200,5.38,5.330000
2024-06-30,4.35,10.50,4.801320,0.92,2.90,3.786032,5.2000,6.75,0.07700,5.52,5.330000
2024-09-30,4.35,10.60,4.297422,0.64,2.90,3.592092,4.9500,6.75,0.22700,5.21,5.123104

In [25]:
data_type = 'apr'

# Create a mapping of country codes to currency abbreviations
country_mapping = {
    'AUS': 'AUD',
    'BRA': 'BRL',
    'CHN': 'CNY',
    'CAN': 'CAD',
    'CHE': 'CHF',
    'EA19': 'EUR',
    'JPN': 'JPY', 
    'GBR': 'GBP',
    'IND': 'INR',
    'NZL': 'NZD',
    'USA': 'USD',
    
}

# Function to rename columns in a DataFrame based on the mapping
def rename_columns_apr(df, mapping, data_type):
    
    # Iterate through the columns and map them if the column name exists in the mapping
    new_columns = [f"{mapping[col]} {data_type.upper()}" if col in mapping else col for col in df.columns]
    df.columns = new_columns
    return df

In [26]:
# Apply the rename_columns function
interest_rates_df = rename_columns_apr(interest_rates_df, country_mapping, data_type)

interest_rates_df

,AUD APR,BRL APR,CAD APR,CHF APR,CNY APR,EUR APR,GBP APR,INR APR,JPY APR,NZD APR,USD APR
2000-03-31,5.50,18.95,5.248600,2.35,3.24,3.510400,5.7620,8.00,0.02136,5.51,5.850000
2000-06-30,6.00,18.17,5.750000,3.05,3.24,4.294500,5.9032,7.00,0.02091,6.50,6.530000
2000-09-30,6.25,16.50,5.742900,3.10,3.24,4.590500,6.1259,8.00,0.24950,6.50,6.520000
2000-12-31,6.25,16.23,5.800000,3.50,3.24,4.826800,5.7383,8.00,0.24143,6.51,6.400000
2001-03-31,5.55,15.41,4.992700,3.35,3.24,4.781400,5.4017,7.00,0.10667,6.35,5.310000
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,4.10,13.08,4.991785,1.20,2.90,3.712522,5.1854,6.75,-0.05400,5.39,5.330000
2023-12-31,4.35,11.96,5.015479,1.60,2.90,3.903442,5.1870,6.75,-0.01200,5.35,5.330000
2024-03-31,4.35,11.07,5.002890,1.34,2.90,3.907311,5.1891,6.75,0.02200,5.38,5.330000
2024-06-30,4.35,10.50,4.801320,0.92,2.90,3.786032,5.2000,6.75,0.07700,5.52,5.330000
2024-09-30,4.35,10.60,4.297422,0.64,2.90,3.592092,4.9500,6.75,0.22700,5.21,5.123104

In [27]:
# Count of NaN values in each column
nan_columns = interest_rates_df.isnull().sum()

# Filter columns with NaN count greater than 0
nan_columns = nan_columns[nan_columns > 0]

nan_columns

Series([], dtype: int64)

In [28]:
# Replace NaN values with the value from the previous row
interest_rates_df.ffill(inplace=True)

interest_rates_df

,AUD APR,BRL APR,CAD APR,CHF APR,CNY APR,EUR APR,GBP APR,INR APR,JPY APR,NZD APR,USD APR
2000-03-31,5.50,18.95,5.248600,2.35,3.24,3.510400,5.7620,8.00,0.02136,5.51,5.850000
2000-06-30,6.00,18.17,5.750000,3.05,3.24,4.294500,5.9032,7.00,0.02091,6.50,6.530000
2000-09-30,6.25,16.50,5.742900,3.10,3.24,4.590500,6.1259,8.00,0.24950,6.50,6.520000
2000-12-31,6.25,16.23,5.800000,3.50,3.24,4.826800,5.7383,8.00,0.24143,6.51,6.400000
2001-03-31,5.55,15.41,4.992700,3.35,3.24,4.781400,5.4017,7.00,0.10667,6.35,5.310000
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,4.10,13.08,4.991785,1.20,2.90,3.712522,5.1854,6.75,-0.05400,5.39,5.330000
2023-12-31,4.35,11.96,5.015479,1.60,2.90,3.903442,5.1870,6.75,-0.01200,5.35,5.330000
2024-03-31,4.35,11.07,5.002890,1.34,2.90,3.907311,5.1891,6.75,0.02200,5.38,5.330000
2024-06-30,4.35,10.50,4.801320,0.92,2.90,3.786032,5.2000,6.75,0.07700,5.52,5.330000
2024-09-30,4.35,10.60,4.297422,0.64,2.90,3.592092,4.9500,6.75,0.22700,5.21,5.123104

### Currency

In [29]:
import yfinance as yf

# Define the tickers (USD in front of all as standard)
tickers = ['USDAUD=X', 'USDBRL=X', 'USDCAD=X', 'USDCHF=X', 'USDCNY=X', 
           'USDEUR=X', 'USDGBP=X', 'USDINR=X', 'USDJPY=X', 'USDNZD=X']

# Download daily data
fx_df = yf.download(tickers, start='2006-06-30', interval='1d')['Close']

# Filter for the last trading day of each month
fx_df = fx_df.resample('ME').last()

# Display the data
fx_df

[*********************100%%**********************]  10 of 10 completed

Ticker,USDAUD=X,USDBRL=X,USDCAD=X,USDCHF=X,USDCNY=X,USDEUR=X,USDGBP=X,USDINR=X,USDJPY=X,USDNZD=X
Date,,,,,,,,,,
2006-06-30,1.346300,2.1615,1.11470,1.22310,7.9825,0.78229,0.54083,45.805000,114.489998,1.63930
2006-07-31,1.305700,2.1720,1.13060,1.23030,7.9600,0.78284,0.53527,46.419998,114.510002,1.61470
2006-08-31,1.310100,2.1340,1.10430,1.23090,7.9449,0.78070,0.52546,46.476002,117.360001,1.52420
2006-09-30,1.339600,2.1629,1.11690,1.25250,7.8973,0.78976,0.53427,45.715000,117.959999,1.53090
2006-10-31,1.290300,2.1330,1.12170,1.24350,7.8690,0.78327,0.52403,44.834999,116.790001,1.48920
...,...,...,...,...,...,...,...,...,...,...
2024-09-30,1.445340,5.4332,1.35088,0.84050,7.0103,0.89527,0.74720,83.716400,142.783005,1.57485
2024-10-31,1.521422,5.7623,1.39080,0.86630,7.1148,0.92088,0.77163,84.089104,153.203995,1.67473
2024-11-30,1.536712,6.0139,1.40072,0.88234,7.2429,0.94670,0.78760,84.471603,151.173996,1.69595
2024-12-31,1.607717,6.1779,1.43498,0.90324,7.2981,0.96097,0.79687,85.786598,156.994995,1.77314
2025-01-31,1.609800,6.1519,1.43820,0.91160,7.2989,0.97320,0.80687,85.777496,157.388000,1.78400

In [30]:
# Ensure the index is in datetime format
fx_df.index = pd.to_datetime(fx_df.index)

# Adjust dates to the last day of the month
fx_df.index = fx_df.index + pd.offsets.MonthEnd(0)

fx_df

Ticker,USDAUD=X,USDBRL=X,USDCAD=X,USDCHF=X,USDCNY=X,USDEUR=X,USDGBP=X,USDINR=X,USDJPY=X,USDNZD=X
Date,,,,,,,,,,
2006-06-30,1.346300,2.1615,1.11470,1.22310,7.9825,0.78229,0.54083,45.805000,114.489998,1.63930
2006-07-31,1.305700,2.1720,1.13060,1.23030,7.9600,0.78284,0.53527,46.419998,114.510002,1.61470
2006-08-31,1.310100,2.1340,1.10430,1.23090,7.9449,0.78070,0.52546,46.476002,117.360001,1.52420
2006-09-30,1.339600,2.1629,1.11690,1.25250,7.8973,0.78976,0.53427,45.715000,117.959999,1.53090
2006-10-31,1.290300,2.1330,1.12170,1.24350,7.8690,0.78327,0.52403,44.834999,116.790001,1.48920
...,...,...,...,...,...,...,...,...,...,...
2024-09-30,1.445340,5.4332,1.35088,0.84050,7.0103,0.89527,0.74720,83.716400,142.783005,1.57485
2024-10-31,1.521422,5.7623,1.39080,0.86630,7.1148,0.92088,0.77163,84.089104,153.203995,1.67473
2024-11-30,1.536712,6.0139,1.40072,0.88234,7.2429,0.94670,0.78760,84.471603,151.173996,1.69595
2024-12-31,1.607717,6.1779,1.43498,0.90324,7.2981,0.96097,0.79687,85.786598,156.994995,1.77314
2025-01-31,1.609800,6.1519,1.43820,0.91160,7.2989,0.97320,0.80687,85.777496,157.388000,1.78400

In [31]:
# Rename columns keeping only the 4th, 5th, and 6th characters
fx_df.columns = [col[3:6] for col in fx_df.columns]

# Display the updated DataFrame
fx_df

,AUD,BRL,CAD,CHF,CNY,EUR,GBP,INR,JPY,NZD
Date,,,,,,,,,,
2006-06-30,1.346300,2.1615,1.11470,1.22310,7.9825,0.78229,0.54083,45.805000,114.489998,1.63930
2006-07-31,1.305700,2.1720,1.13060,1.23030,7.9600,0.78284,0.53527,46.419998,114.510002,1.61470
2006-08-31,1.310100,2.1340,1.10430,1.23090,7.9449,0.78070,0.52546,46.476002,117.360001,1.52420
2006-09-30,1.339600,2.1629,1.11690,1.25250,7.8973,0.78976,0.53427,45.715000,117.959999,1.53090
2006-10-31,1.290300,2.1330,1.12170,1.24350,7.8690,0.78327,0.52403,44.834999,116.790001,1.48920
...,...,...,...,...,...,...,...,...,...,...
2024-09-30,1.445340,5.4332,1.35088,0.84050,7.0103,0.89527,0.74720,83.716400,142.783005,1.57485
2024-10-31,1.521422,5.7623,1.39080,0.86630,7.1148,0.92088,0.77163,84.089104,153.203995,1.67473
2024-11-30,1.536712,6.0139,1.40072,0.88234,7.2429,0.94670,0.78760,84.471603,151.173996,1.69595
2024-12-31,1.607717,6.1779,1.43498,0.90324,7.2981,0.96097,0.79687,85.786598,156.994995,1.77314
2025-01-31,1.609800,6.1519,1.43820,0.91160,7.2989,0.97320,0.80687,85.777496,157.388000,1.78400

In [32]:
fx_df['USD'] = 1
fx_df

,AUD,BRL,CAD,CHF,CNY,EUR,GBP,INR,JPY,NZD,USD
Date,,,,,,,,,,,
2006-06-30,1.346300,2.1615,1.11470,1.22310,7.9825,0.78229,0.54083,45.805000,114.489998,1.63930,1
2006-07-31,1.305700,2.1720,1.13060,1.23030,7.9600,0.78284,0.53527,46.419998,114.510002,1.61470,1
2006-08-31,1.310100,2.1340,1.10430,1.23090,7.9449,0.78070,0.52546,46.476002,117.360001,1.52420,1
2006-09-30,1.339600,2.1629,1.11690,1.25250,7.8973,0.78976,0.53427,45.715000,117.959999,1.53090,1
2006-10-31,1.290300,2.1330,1.12170,1.24350,7.8690,0.78327,0.52403,44.834999,116.790001,1.48920,1
...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30,1.445340,5.4332,1.35088,0.84050,7.0103,0.89527,0.74720,83.716400,142.783005,1.57485,1
2024-10-31,1.521422,5.7623,1.39080,0.86630,7.1148,0.92088,0.77163,84.089104,153.203995,1.67473,1
2024-11-30,1.536712,6.0139,1.40072,0.88234,7.2429,0.94670,0.78760,84.471603,151.173996,1.69595,1
2024-12-31,1.607717,6.1779,1.43498,0.90324,7.2981,0.96097,0.79687,85.786598,156.994995,1.77314,1
2025-01-31,1.609800,6.1519,1.43820,0.91160,7.2989,0.97320,0.80687,85.777496,157.388000,1.78400,1

In [33]:
# Initialize an empty dictionary to store the currency ratios
currency_data = {}

# Get the list of currencies (column names)
currencies = fx_df.columns

# Loop through each pair of currencies
for i in range(len(currencies)):
    for j in range(len(currencies)):
        if i != j:  # Avoid calculating the same currency against itself
            col_name = f"{currencies[j]}/{currencies[i]}"
            currency_data[col_name] = fx_df[currencies[i]] / fx_df[currencies[j]]

# Create the DataFrame all at once from the dictionary
currency_df = pd.DataFrame(currency_data, index=fx_df.index)

# Display the resulting DataFrame
currency_df

,BRL/AUD,CAD/AUD,CHF/AUD,CNY/AUD,EUR/AUD,GBP/AUD,INR/AUD,JPY/AUD,NZD/AUD,USD/AUD,...,AUD/USD,BRL/USD,CAD/USD,CHF/USD,CNY/USD,EUR/USD,GBP/USD,INR/USD,JPY/USD,NZD/USD
Date,,,,,,,,,,,,,,,,,,,,,
2006-06-30,0.622855,1.207769,1.100728,0.168656,1.720973,2.489322,0.029392,0.011759,0.821265,1.346300,...,0.742776,0.462642,0.897102,0.817595,0.125274,1.278298,1.849010,0.021832,0.008734,0.610016
2006-07-31,0.601151,1.154873,1.061286,0.164033,1.667901,2.439330,0.028128,0.011402,0.808633,1.305700,...,0.765873,0.460405,0.884486,0.812810,0.125628,1.277400,1.868216,0.021542,0.008733,0.619310
2006-08-31,0.613917,1.186362,1.064343,0.164898,1.678109,2.493244,0.028189,0.011163,0.859533,1.310100,...,0.763301,0.468604,0.905551,0.812414,0.125867,1.280902,1.903094,0.021516,0.008521,0.656082
2006-09-30,0.619354,1.199391,1.069541,0.169628,1.696211,2.507346,0.029303,0.011356,0.875041,1.339600,...,0.746492,0.462342,0.895335,0.798403,0.126626,1.266207,1.871713,0.021875,0.008477,0.653211
2006-10-31,0.604923,1.150308,1.037636,0.163973,1.647325,2.462263,0.028779,0.011048,0.866438,1.290300,...,0.775014,0.468823,0.891504,0.804182,0.127081,1.276699,1.908288,0.022304,0.008562,0.671501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-30,0.266020,1.069925,1.719619,0.206174,1.614418,1.934342,0.017265,0.010123,0.917764,1.445340,...,0.691879,0.184054,0.740258,1.189768,0.142647,1.116981,1.338330,0.011945,0.007004,0.634981
2024-10-31,0.264030,1.093919,1.756230,0.213839,1.652139,1.971699,0.018093,0.009931,0.908458,1.521422,...,0.657280,0.173542,0.719011,1.154335,0.140552,1.085918,1.295958,0.011892,0.006527,0.597111
2024-11-30,0.255527,1.097087,1.741633,0.212168,1.623230,1.951133,0.018192,0.010165,0.906107,1.536712,...,0.650740,0.166281,0.713919,1.133350,0.138066,1.056301,1.269680,0.011838,0.006615,0.589640
2024-12-31,0.260237,1.120376,1.779944,0.220293,1.673015,2.017540,0.018741,0.010241,0.906706,1.607717,...,0.622000,0.161867,0.696874,1.107125,0.137022,1.040615,1.254910,0.011657,0.006370,0.563971
2025-01-31,0.261675,1.119316,1.765906,0.220554,1.654131,1.995117,0.018767,0.010228,0.902354,1.609800,...,0.621195,0.162551,0.695314,1.096972,0.137007,1.027538,1.239357,0.011658,0.006354,0.560538

# Merge dfs

In [34]:
import os

# Right=first df, left=second df
# Outer=ensures that all rows from both DataFrames are included (rows with missing values in one DataFrame will have NaN)
merged_dfs = pd.merge(cpi_df, gdp_df, left_index=True, right_index=True, how='inner')
merged_dfs = pd.merge(merged_dfs, interest_rates_df, left_index=True, right_index=True, how='inner')
merged_dfs = pd.merge(merged_dfs, currency_df, left_index=True, right_index=True, how='inner')
merged_dfs

# Save the updated DataFrame to a CSV in the specified directory
output_file = os.path.join(directory, 'Exchange Rates Forecast OECD-Yahoo_merged_dfs.csv')
merged_dfs.to_csv(output_file)

# Print to confirm save location and show the DataFrame
print(f"File saved to: {output_file}")

File saved to: 05. Exchange Rates Forecast OECD-Yahoo\Exchange Rates Forecast OECD-Yahoo_merged_dfs.csv

# Calculate Differences, Percentages and Decimals

In [35]:
countries = [
    'AUD',
    'BRL',
    'CNY',
    'CAD',
    'CHF',
    'EUR',
    'JPY', 
    'GBP',
    'INR',
    'NZD',
    'USD',    
]

# Initialize an empty list to store the results
countries_cpi = []
countries_interest_rates = []
countries_gdp = []

# Loop through each country and append the desired format
for country in countries:
    countries_cpi.append(f"{country} CPI")
    countries_interest_rates.append(f"{country} APR")
    countries_gdp.append(f"{country} GDP")

countries_cpi, countries_interest_rates, countries_gdp

(['AUD CPI',
  'BRL CPI',
  'CNY CPI',
  'CAD CPI',
  'CHF CPI',
  'EUR CPI',
  'JPY CPI',
  'GBP CPI',
  'INR CPI',
  'NZD CPI',
  'USD CPI'],
 ['AUD APR',
  'BRL APR',
  'CNY APR',
  'CAD APR',
  'CHF APR',
  'EUR APR',
  'JPY APR',
  'GBP APR',
  'INR APR',
  'NZD APR',
  'USD APR'],
 ['AUD GDP',
  'BRL GDP',
  'CNY GDP',
  'CAD GDP',
  'CHF GDP',
  'EUR GDP',
  'JPY GDP',
  'GBP GDP',
  'INR GDP',
  'NZD GDP',
  'USD GDP'])

### CPI Differences

In [36]:
cpi_df_2 = merged_dfs[countries_cpi]
cpi_df_2

,AUD CPI,BRL CPI,CNY CPI,CAD CPI,CHF CPI,EUR CPI,JPY CPI,GBP CPI,INR CPI,NZD CPI,USD CPI
Date,,,,,,,,,,,
2006-06-30,3.995157,4.295984,1.658429,2.560899,1.327459,2.490150,0.174825,2.4,5.949156,3.979239,4.010283
2006-09-30,3.956835,3.835115,1.592239,1.733746,1.222846,2.198406,0.630473,2.5,6.223156,3.542686,3.335591
2006-12-31,3.341289,3.141322,1.932727,1.361386,0.458856,1.805843,0.350263,2.7,6.464124,2.634664,1.937332
2007-03-31,2.485207,2.987761,2.747699,1.816502,0.087777,1.901570,-0.105189,2.8,7.002801,2.535473,2.424095
2007-06-30,2.095460,3.290206,3.608638,2.192448,0.524277,1.914501,-0.069808,2.6,6.318681,2.000000,2.650684
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,5.373832,4.593984,-0.064579,3.686737,1.604662,4.953429,3.000000,6.3,6.387328,5.649241,3.514290
2023-12-31,4.051988,4.707650,-0.322581,3.211109,1.617260,2.741842,3.100000,4.4,4.782280,4.655029,3.243401
2024-03-31,3.619910,4.308135,-0.032185,2.846668,1.163635,2.594262,3.000000,3.9,4.563691,4.022988,3.241019
2024-06-30,3.814510,3.947341,0.226831,2.741181,1.361983,2.482557,2.900000,2.9,3.799654,3.330626,3.198886
2024-09-30,2.808573,4.386920,0.484653,2.040816,1.064545,2.164851,2.800000,2.9,2.929875,2.154828,2.621493

In [37]:
cpi_decimals = cpi_df_2 / 100

cpi_decimals

,AUD CPI,BRL CPI,CNY CPI,CAD CPI,CHF CPI,EUR CPI,JPY CPI,GBP CPI,INR CPI,NZD CPI,USD CPI
Date,,,,,,,,,,,
2006-06-30,0.039952,0.042960,0.016584,0.025609,0.013275,0.024902,0.001748,0.024,0.059492,0.039792,0.040103
2006-09-30,0.039568,0.038351,0.015922,0.017337,0.012228,0.021984,0.006305,0.025,0.062232,0.035427,0.033356
2006-12-31,0.033413,0.031413,0.019327,0.013614,0.004589,0.018058,0.003503,0.027,0.064641,0.026347,0.019373
2007-03-31,0.024852,0.029878,0.027477,0.018165,0.000878,0.019016,-0.001052,0.028,0.070028,0.025355,0.024241
2007-06-30,0.020955,0.032902,0.036086,0.021924,0.005243,0.019145,-0.000698,0.026,0.063187,0.020000,0.026507
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.053738,0.045940,-0.000646,0.036867,0.016047,0.049534,0.030000,0.063,0.063873,0.056492,0.035143
2023-12-31,0.040520,0.047077,-0.003226,0.032111,0.016173,0.027418,0.031000,0.044,0.047823,0.046550,0.032434
2024-03-31,0.036199,0.043081,-0.000322,0.028467,0.011636,0.025943,0.030000,0.039,0.045637,0.040230,0.032410
2024-06-30,0.038145,0.039473,0.002268,0.027412,0.013620,0.024826,0.029000,0.029,0.037997,0.033306,0.031989
2024-09-30,0.028086,0.043869,0.004847,0.020408,0.010645,0.021649,0.028000,0.029,0.029299,0.021548,0.026215

In [38]:
# Initialize an empty dictionary to store the inflation rate differences
cpi_difference_data = {}

# Get the list of countries (column names)
countries = cpi_decimals.columns

# Calculate the inflation rate differentials
for i in range(len(countries)):
    for j in range(len(countries)):
        if i != j:  # Avoid calculating differential with itself
            col_name = f"{countries[i]}-{countries[j]}"
            cpi_difference_data[col_name] = (
                cpi_decimals[countries[i]] - cpi_decimals[countries[j]]
            )

# Create the DataFrame all at once from the dictionary
cpi_difference_decimals = pd.DataFrame(cpi_difference_data, index=cpi_decimals.index)

# Display the resulting DataFrame
cpi_difference_decimals

,AUD CPI-BRL CPI,AUD CPI-CNY CPI,AUD CPI-CAD CPI,AUD CPI-CHF CPI,AUD CPI-EUR CPI,AUD CPI-JPY CPI,AUD CPI-GBP CPI,AUD CPI-INR CPI,AUD CPI-NZD CPI,AUD CPI-USD CPI,...,USD CPI-AUD CPI,USD CPI-BRL CPI,USD CPI-CNY CPI,USD CPI-CAD CPI,USD CPI-CHF CPI,USD CPI-EUR CPI,USD CPI-JPY CPI,USD CPI-GBP CPI,USD CPI-INR CPI,USD CPI-NZD CPI
Date,,,,,,,,,,,,,,,,,,,,,
2006-06-30,-0.003008,0.023367,0.014343,0.026677,0.015050,0.038203,0.015952,-0.019540,0.000159,-0.000151,...,0.000151,-0.002857,0.023519,0.014494,0.026828,0.015201,0.038355,0.016103,-0.019389,0.000310
2006-09-30,0.001217,0.023646,0.022231,0.027340,0.017584,0.033264,0.014568,-0.022663,0.004141,0.006212,...,-0.006212,-0.004995,0.017434,0.016018,0.021127,0.011372,0.027051,0.008356,-0.028876,-0.002071
2006-12-31,0.002000,0.014086,0.019799,0.028824,0.015354,0.029910,0.006413,-0.031228,0.007066,0.014040,...,-0.014040,-0.012040,0.000046,0.005759,0.014785,0.001315,0.015871,-0.007627,-0.045268,-0.006973
2007-03-31,-0.005026,-0.002625,0.006687,0.023974,0.005836,0.025904,-0.003148,-0.045176,-0.000503,0.000611,...,-0.000611,-0.005637,-0.003236,0.006076,0.023363,0.005225,0.025293,-0.003759,-0.045787,-0.001114
2007-06-30,-0.011947,-0.015132,-0.000970,0.015712,0.001810,0.021653,-0.005045,-0.042232,0.000955,-0.005552,...,0.005552,-0.006395,-0.009580,0.004582,0.021264,0.007362,0.027205,0.000507,-0.036680,0.006507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.007798,0.054384,0.016871,0.037692,0.004204,0.023738,-0.009262,-0.010135,-0.002754,0.018595,...,-0.018595,-0.010797,0.035789,-0.001724,0.019096,-0.014391,0.005143,-0.027857,-0.028730,-0.021350
2023-12-31,-0.006557,0.043746,0.008409,0.024347,0.013101,0.009520,-0.003480,-0.007303,-0.006030,0.008086,...,-0.008086,-0.014642,0.035660,0.000323,0.016261,0.005016,0.001434,-0.011566,-0.015389,-0.014116
2024-03-31,-0.006882,0.036521,0.007732,0.024563,0.010256,0.006199,-0.002801,-0.009438,-0.004031,0.003789,...,-0.003789,-0.010671,0.032732,0.003944,0.020774,0.006468,0.002410,-0.006590,-0.013227,-0.007820
2024-06-30,-0.001328,0.035877,0.010733,0.024525,0.013320,0.009145,0.009145,0.000149,0.004839,0.006156,...,-0.006156,-0.007485,0.029721,0.004577,0.018369,0.007163,0.002989,0.002989,-0.006008,-0.001317
2024-09-30,-0.015783,0.023239,0.007678,0.017440,0.006437,0.000086,-0.000914,-0.001213,0.006537,0.001871,...,-0.001871,-0.017654,0.021368,0.005807,0.015569,0.004566,-0.001785,-0.002785,-0.003084,0.004667

### Interest Rates Differences

In [39]:
interest_rates_df_2 = merged_dfs[countries_interest_rates]
interest_rates_df_2

,AUD APR,BRL APR,CNY APR,CAD APR,CHF APR,EUR APR,JPY APR,GBP APR,INR APR,NZD APR,USD APR
Date,,,,,,,,,,,
2006-06-30,5.75,15.25,3.33,4.245500,1.27,2.697700,0.036,4.5712,6.00,7.25,4.990000
2006-09-30,6.00,14.25,3.33,4.246500,1.61,3.041000,0.261,4.7892,6.00,7.25,5.250000
2006-12-31,6.25,13.25,3.33,4.248200,1.94,3.501100,0.255,5.0844,6.00,7.51,5.240000
2007-03-31,6.25,12.81,3.33,4.243200,1.98,3.690900,0.509,5.3032,6.00,7.59,5.260000
2007-06-30,6.25,12.12,3.33,4.253600,2.56,3.955700,0.510,5.6093,6.00,8.10,5.250000
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,4.10,13.08,2.90,4.991785,1.20,3.712522,-0.054,5.1854,6.75,5.39,5.330000
2023-12-31,4.35,11.96,2.90,5.015479,1.60,3.903442,-0.012,5.1870,6.75,5.35,5.330000
2024-03-31,4.35,11.07,2.90,5.002890,1.34,3.907311,0.022,5.1891,6.75,5.38,5.330000
2024-06-30,4.35,10.50,2.90,4.801320,0.92,3.786032,0.077,5.2000,6.75,5.52,5.330000
2024-09-30,4.35,10.60,2.90,4.297422,0.64,3.592092,0.227,4.9500,6.75,5.21,5.123104

In [40]:
interest_rates_decimals = interest_rates_df_2 /100
interest_rates_decimals

,AUD APR,BRL APR,CNY APR,CAD APR,CHF APR,EUR APR,JPY APR,GBP APR,INR APR,NZD APR,USD APR
Date,,,,,,,,,,,
2006-06-30,0.0575,0.1525,0.0333,0.042455,0.0127,0.026977,0.00036,0.045712,0.0600,0.0725,0.049900
2006-09-30,0.0600,0.1425,0.0333,0.042465,0.0161,0.030410,0.00261,0.047892,0.0600,0.0725,0.052500
2006-12-31,0.0625,0.1325,0.0333,0.042482,0.0194,0.035011,0.00255,0.050844,0.0600,0.0751,0.052400
2007-03-31,0.0625,0.1281,0.0333,0.042432,0.0198,0.036909,0.00509,0.053032,0.0600,0.0759,0.052600
2007-06-30,0.0625,0.1212,0.0333,0.042536,0.0256,0.039557,0.00510,0.056093,0.0600,0.0810,0.052500
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.0410,0.1308,0.0290,0.049918,0.0120,0.037125,-0.00054,0.051854,0.0675,0.0539,0.053300
2023-12-31,0.0435,0.1196,0.0290,0.050155,0.0160,0.039034,-0.00012,0.051870,0.0675,0.0535,0.053300
2024-03-31,0.0435,0.1107,0.0290,0.050029,0.0134,0.039073,0.00022,0.051891,0.0675,0.0538,0.053300
2024-06-30,0.0435,0.1050,0.0290,0.048013,0.0092,0.037860,0.00077,0.052000,0.0675,0.0552,0.053300
2024-09-30,0.0435,0.1060,0.0290,0.042974,0.0064,0.035921,0.00227,0.049500,0.0675,0.0521,0.051231

In [41]:
# Initialize an empty dictionary to store the interest rate differences
interest_rates_difference_data = {}

# Get the list of countries (column names)
countries = interest_rates_decimals.columns

# Calculate the interest rates rate differences
for i in range(len(countries)):
    for j in range(len(countries)):
        if i != j:  # Avoid calculating differential with itself
            col_name = f"{countries[i]}-{countries[j]}"
            interest_rates_difference_data[col_name] = (
                interest_rates_decimals[countries[i]] - interest_rates_decimals[countries[j]]
            )
# Create the DataFrame all at once from the dictionary
interest_rates_difference_decimals = pd.DataFrame(interest_rates_difference_data, index=interest_rates_decimals.index)

# Display the resulting DataFrame
interest_rates_difference_decimals

,AUD APR-BRL APR,AUD APR-CNY APR,AUD APR-CAD APR,AUD APR-CHF APR,AUD APR-EUR APR,AUD APR-JPY APR,AUD APR-GBP APR,AUD APR-INR APR,AUD APR-NZD APR,AUD APR-USD APR,...,USD APR-AUD APR,USD APR-BRL APR,USD APR-CNY APR,USD APR-CAD APR,USD APR-CHF APR,USD APR-EUR APR,USD APR-JPY APR,USD APR-GBP APR,USD APR-INR APR,USD APR-NZD APR
Date,,,,,,,,,,,,,,,,,,,,,
2006-06-30,-0.0950,0.0242,0.015045,0.0448,0.030523,0.05714,0.011788,-0.0025,-0.0150,0.007600,...,-0.007600,-0.102600,0.016600,0.007445,0.037200,0.022923,0.049540,0.004188,-0.010100,-0.022600
2006-09-30,-0.0825,0.0267,0.017535,0.0439,0.029590,0.05739,0.012108,0.0000,-0.0125,0.007500,...,-0.007500,-0.090000,0.019200,0.010035,0.036400,0.022090,0.049890,0.004608,-0.007500,-0.020000
2006-12-31,-0.0700,0.0292,0.020018,0.0431,0.027489,0.05995,0.011656,0.0025,-0.0126,0.010100,...,-0.010100,-0.080100,0.019100,0.009918,0.033000,0.017389,0.049850,0.001556,-0.007600,-0.022700
2007-03-31,-0.0656,0.0292,0.020068,0.0427,0.025591,0.05741,0.009468,0.0025,-0.0134,0.009900,...,-0.009900,-0.075500,0.019300,0.010168,0.032800,0.015691,0.047510,-0.000432,-0.007400,-0.023300
2007-06-30,-0.0587,0.0292,0.019964,0.0369,0.022943,0.05740,0.006407,0.0025,-0.0185,0.010000,...,-0.010000,-0.068700,0.019200,0.009964,0.026900,0.012943,0.047400,-0.003593,-0.007500,-0.028500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,-0.0898,0.0120,-0.008918,0.0290,0.003875,0.04154,-0.010854,-0.0265,-0.0129,-0.012300,...,0.012300,-0.077500,0.024300,0.003382,0.041300,0.016175,0.053840,0.001446,-0.014200,-0.000600
2023-12-31,-0.0761,0.0145,-0.006655,0.0275,0.004466,0.04362,-0.008370,-0.0240,-0.0100,-0.009800,...,0.009800,-0.066300,0.024300,0.003145,0.037300,0.014266,0.053420,0.001430,-0.014200,-0.000200
2024-03-31,-0.0672,0.0145,-0.006529,0.0301,0.004427,0.04328,-0.008391,-0.0240,-0.0103,-0.009800,...,0.009800,-0.057400,0.024300,0.003271,0.039900,0.014227,0.053080,0.001409,-0.014200,-0.000500
2024-06-30,-0.0615,0.0145,-0.004513,0.0343,0.005640,0.04273,-0.008500,-0.0240,-0.0117,-0.009800,...,0.009800,-0.051700,0.024300,0.005287,0.044100,0.015440,0.052530,0.001300,-0.014200,-0.001900
2024-09-30,-0.0625,0.0145,0.000526,0.0371,0.007579,0.04123,-0.006000,-0.0240,-0.0086,-0.007731,...,0.007731,-0.054769,0.022231,0.008257,0.044831,0.015310,0.048961,0.001731,-0.016269,-0.000869

### GDP Percentage Change

In [42]:
gdp_df_2 = merged_dfs[countries_gdp]
gdp_df_2

,AUD GDP,BRL GDP,CNY GDP,CAD GDP,CHF GDP,EUR GDP,JPY GDP,GBP GDP,INR GDP,NZD GDP,USD GDP
Date,,,,,,,,,,,
2006-06-30,2.238653,2.645259,13.7,3.098518,4.249495,3.509729,1.510178,2.645855,8.08975,2.127614,2.972904
2006-09-30,2.681233,4.986430,12.2,2.150783,3.790875,3.318643,0.288954,2.083219,10.12762,2.222270,2.325278
2006-12-31,3.113716,4.833821,12.5,1.549039,4.048807,3.803836,1.462378,1.673467,9.25047,3.489730,2.634560
2007-03-31,4.443917,5.161254,13.8,1.374069,3.344565,3.552900,1.971011,2.102817,9.55723,3.215578,1.576725
2007-06-30,4.842076,6.554239,15.0,2.301904,4.155248,3.131883,1.858852,2.473295,10.72776,3.681255,1.934375
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,2.124153,2.805377,4.9,0.890673,0.348143,-0.008598,1.060138,0.328335,8.00892,0.698065,3.236308
2023-12-31,1.475337,2.542886,5.2,1.212521,0.516218,0.149605,0.856637,-0.264808,8.72338,0.912793,3.196217
2024-03-31,1.144397,2.216789,5.3,0.751357,0.595870,0.462277,-0.918050,0.349082,7.96068,1.329780,2.901832
2024-06-30,0.990669,2.809099,4.7,1.094132,1.401137,0.600144,-0.891938,0.693532,6.62045,-0.483892,3.036849
2024-09-30,0.843814,3.544523,4.6,1.493008,1.671738,0.928066,0.454161,0.851665,5.76041,-1.492558,2.718769

In [43]:
gdp_pct_change_decimals = gdp_df_2 /100
gdp_pct_change_decimals

,AUD GDP,BRL GDP,CNY GDP,CAD GDP,CHF GDP,EUR GDP,JPY GDP,GBP GDP,INR GDP,NZD GDP,USD GDP
Date,,,,,,,,,,,
2006-06-30,0.022387,0.026453,0.137,0.030985,0.042495,0.035097,0.015102,0.026459,0.080898,0.021276,0.029729
2006-09-30,0.026812,0.049864,0.122,0.021508,0.037909,0.033186,0.002890,0.020832,0.101276,0.022223,0.023253
2006-12-31,0.031137,0.048338,0.125,0.015490,0.040488,0.038038,0.014624,0.016735,0.092505,0.034897,0.026346
2007-03-31,0.044439,0.051613,0.138,0.013741,0.033446,0.035529,0.019710,0.021028,0.095572,0.032156,0.015767
2007-06-30,0.048421,0.065542,0.150,0.023019,0.041552,0.031319,0.018589,0.024733,0.107278,0.036813,0.019344
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.021242,0.028054,0.049,0.008907,0.003481,-0.000086,0.010601,0.003283,0.080089,0.006981,0.032363
2023-12-31,0.014753,0.025429,0.052,0.012125,0.005162,0.001496,0.008566,-0.002648,0.087234,0.009128,0.031962
2024-03-31,0.011444,0.022168,0.053,0.007514,0.005959,0.004623,-0.009181,0.003491,0.079607,0.013298,0.029018
2024-06-30,0.009907,0.028091,0.047,0.010941,0.014011,0.006001,-0.008919,0.006935,0.066204,-0.004839,0.030368
2024-09-30,0.008438,0.035445,0.046,0.014930,0.016717,0.009281,0.004542,0.008517,0.057604,-0.014926,0.027188

### Currency Percentage Change

In [44]:
currency_df_2 = merged_dfs[currency_df.columns]
currency_df_2

,BRL/AUD,CAD/AUD,CHF/AUD,CNY/AUD,EUR/AUD,GBP/AUD,INR/AUD,JPY/AUD,NZD/AUD,USD/AUD,...,AUD/USD,BRL/USD,CAD/USD,CHF/USD,CNY/USD,EUR/USD,GBP/USD,INR/USD,JPY/USD,NZD/USD
Date,,,,,,,,,,,,,,,,,,,,,
2006-06-30,0.622855,1.207769,1.100728,0.168656,1.720973,2.489322,0.029392,0.011759,0.821265,1.346300,...,0.742776,0.462642,0.897102,0.817595,0.125274,1.278298,1.849010,0.021832,0.008734,0.610016
2006-09-30,0.619354,1.199391,1.069541,0.169628,1.696211,2.507346,0.029303,0.011356,0.875041,1.339600,...,0.746492,0.462342,0.895335,0.798403,0.126626,1.266207,1.871713,0.021875,0.008477,0.653211
2006-12-31,0.594885,1.088435,1.039439,0.162578,1.673112,2.483689,0.028785,0.010655,0.893753,1.267700,...,0.788830,0.469263,0.858590,0.819941,0.128246,1.319801,1.959209,0.022707,0.008405,0.705020
2007-03-31,0.601265,1.070432,1.018044,0.160035,1.650636,2.412527,0.028705,0.010488,0.883076,1.235600,...,0.809323,0.486618,0.866326,0.823927,0.129520,1.335898,1.952515,0.023232,0.008488,0.714694
2007-06-30,0.611641,1.107562,0.965207,0.155060,1.595896,2.367803,0.029090,0.009573,0.909371,1.179000,...,0.848176,0.518780,0.939408,0.818666,0.131518,1.353601,2.008314,0.024673,0.008120,0.771307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.309112,1.153139,1.700665,0.213112,1.643200,1.898700,0.018700,0.010417,0.927881,1.555700,...,0.642797,0.198697,0.741235,1.093183,0.136988,1.056245,1.220480,0.012020,0.006696,0.596440
2023-12-31,0.302033,1.107306,1.737007,0.206124,1.621404,1.865430,0.017799,0.010358,0.928012,1.464922,...,0.682630,0.206177,0.755881,1.185733,0.140706,1.106819,1.273399,0.012150,0.007071,0.633489
2024-03-31,0.306037,1.133644,1.702975,0.212343,1.656412,1.937500,0.018401,0.010133,0.916818,1.534500,...,0.651678,0.199438,0.738771,1.109792,0.138380,1.079447,1.262626,0.011991,0.006603,0.597470
2024-06-30,0.273361,1.097592,1.673445,0.206906,1.610152,1.901444,0.018018,0.009357,0.914908,1.503624,...,0.665060,0.181802,0.729964,1.112941,0.137605,1.070847,1.264574,0.011983,0.006223,0.608469
2024-09-30,0.266020,1.069925,1.719619,0.206174,1.614418,1.934342,0.017265,0.010123,0.917764,1.445340,...,0.691879,0.184054,0.740258,1.189768,0.142647,1.116981,1.338330,0.011945,0.007004,0.634981

In [45]:
# Calculate percentage change
currency_1period_pct_change_decimals = currency_df_2.pct_change(periods=1)

# Exclude rows with NaN values
currency_1period_pct_change_decimals = currency_1period_pct_change_decimals.dropna()

# Rename columns with a specific label
currency_1period_pct_change_decimals.columns = [f"{col} 1 Period" for col in currency_df_2.columns]

currency_1period_pct_change_decimals

,BRL/AUD 1 Period,CAD/AUD 1 Period,CHF/AUD 1 Period,CNY/AUD 1 Period,EUR/AUD 1 Period,GBP/AUD 1 Period,INR/AUD 1 Period,JPY/AUD 1 Period,NZD/AUD 1 Period,USD/AUD 1 Period,...,AUD/USD 1 Period,BRL/USD 1 Period,CAD/USD 1 Period,CHF/USD 1 Period,CNY/USD 1 Period,EUR/USD 1 Period,GBP/USD 1 Period,INR/USD 1 Period,JPY/USD 1 Period,NZD/USD 1 Period
Date,,,,,,,,,,,,,,,,,,,,,
2006-09-30,-0.005621,-0.006937,-0.028333,0.005758,-0.014388,0.007241,-0.003018,-0.034247,0.065479,-0.004977,...,0.005002,-0.000647,-0.001970,-0.023473,0.010789,-0.009459,0.012278,0.001969,-0.029417,0.070808
2006-12-31,-0.039507,-0.092511,-0.028144,-0.041561,-0.013619,-0.009435,-0.017681,-0.061786,0.021385,-0.053673,...,0.056717,0.014969,-0.041041,0.026976,0.012799,0.042326,0.046747,0.038034,-0.008573,0.079315
2007-03-31,0.010725,-0.016540,-0.020583,-0.015639,-0.013434,-0.028652,-0.002791,-0.015642,-0.011947,-0.025321,...,0.025979,0.036983,0.009010,0.004861,0.009934,0.012197,-0.003417,0.023115,0.009931,0.013722
2007-06-30,0.017257,0.034687,-0.051901,-0.031087,-0.033163,-0.018538,0.013403,-0.087257,0.029777,-0.045808,...,0.048007,0.066093,0.084359,-0.006386,0.015427,0.013252,0.028578,0.062053,-0.043439,0.079213
2007-09-30,0.006285,0.023474,0.005581,-0.028848,0.008979,-0.024516,-0.019475,0.027680,-0.060193,-0.042578,...,0.044472,0.051036,0.068990,0.050301,0.014341,0.053850,0.018866,0.024131,0.073383,-0.018398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,-0.006431,0.011432,0.012244,0.023043,0.000872,-0.003630,0.015994,-0.001597,0.012449,0.029828,...,-0.028964,-0.035209,-0.017864,-0.017076,-0.006589,-0.028117,-0.032489,-0.013434,-0.030515,-0.016876
2023-12-31,-0.022901,-0.039746,0.021369,-0.032793,-0.013265,-0.017523,-0.048158,-0.005707,0.000140,-0.058352,...,0.061968,0.037648,0.019759,0.084661,0.027142,0.047881,0.043359,0.010826,0.055908,0.062117
2024-03-31,0.013256,0.023785,-0.019592,0.030174,0.021591,0.038635,0.033792,-0.021742,-0.012062,0.047496,...,-0.045342,-0.032688,-0.022636,-0.064046,-0.016536,-0.024730,-0.008460,-0.013083,-0.066099,-0.056858
2024-06-30,-0.106770,-0.031802,-0.017340,-0.025609,-0.027928,-0.018610,-0.020801,-0.076510,-0.002083,-0.020121,...,0.020534,-0.088428,-0.011920,0.002838,-0.005601,-0.007967,0.001543,-0.000694,-0.057547,0.018409
2024-09-30,-0.026856,-0.025207,0.027592,-0.003537,0.002650,0.017301,-0.041811,0.081770,0.003121,-0.038762,...,0.040325,0.012387,0.014102,0.069030,0.036646,0.043082,0.058324,-0.003171,0.125393,0.043572

In [46]:
# Calculate percentage change
currency_4period_pct_change_decimals = currency_df_2.pct_change(periods=4)

# Exclude rows with NaN values
currency_4period_pct_change_decimals = currency_4period_pct_change_decimals.dropna()

# Rename columns only for those not already renamed
currency_4period_pct_change_decimals.columns = [
    f"{col} 4 Periods" if "Period" not in col else col for col in currency_4period_pct_change_decimals.columns
]

currency_4period_pct_change_decimals

,BRL/AUD 4 Periods,CAD/AUD 4 Periods,CHF/AUD 4 Periods,CNY/AUD 4 Periods,EUR/AUD 4 Periods,GBP/AUD 4 Periods,INR/AUD 4 Periods,JPY/AUD 4 Periods,NZD/AUD 4 Periods,USD/AUD 4 Periods,...,AUD/USD 4 Periods,BRL/USD 4 Periods,CAD/USD 4 Periods,CHF/USD 4 Periods,CNY/USD 4 Periods,EUR/USD 4 Periods,GBP/USD 4 Periods,INR/USD 4 Periods,JPY/USD 4 Periods,NZD/USD 4 Periods
Date,,,,,,,,,,,,,,,,,,,,,
2007-06-30,-0.018003,-0.082968,-0.123119,-0.080615,-0.072678,-0.048816,-0.010289,-0.185915,0.107281,-0.124266,...,0.141900,0.121343,0.047158,0.001310,0.049845,0.058909,0.086157,0.130151,-0.070396,0.264404
2007-09-30,-0.006246,-0.054886,-0.092514,-0.112249,-0.050693,-0.078805,-0.026626,-0.133713,-0.023321,-0.157360,...,0.186747,0.179335,0.121611,0.076956,0.053535,0.126587,0.093225,0.155148,0.028063,0.159070
2007-12-31,0.087945,0.053395,-0.027914,-0.035467,-0.001816,-0.085117,0.012504,-0.038501,-0.019708,-0.097736,...,0.108323,0.205794,0.167502,0.077385,0.069015,0.106311,0.013986,0.122181,0.065652,0.086480
2008-03-31,0.046275,-0.002929,0.080849,-0.023496,0.044684,-0.099983,-0.044286,0.044943,-0.027323,-0.114357,...,0.129124,0.181374,0.125817,0.220412,0.102593,0.179578,0.016231,0.079120,0.179870,0.098273
2008-06-30,0.072631,-0.075414,0.059184,-0.016484,0.030134,-0.121431,-0.162646,0.027486,-0.125466,-0.114673,...,0.129527,0.211565,0.044344,0.196376,0.110908,0.163564,-0.007633,-0.054187,0.160573,-0.012191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.086389,0.027009,0.079874,-0.011202,0.088774,0.107149,-0.007629,-0.020059,0.052415,0.013227,...,-0.013055,0.072206,0.013602,0.065777,-0.024110,0.074560,0.092695,-0.020583,-0.032852,0.038676
2023-12-31,0.079938,0.015321,0.084588,-0.028902,0.029047,0.046878,-0.002414,-0.068501,-0.010554,-0.008834,...,0.008912,0.089563,0.024370,0.094254,-0.020248,0.038218,0.056208,0.006477,-0.060199,-0.001736
2024-03-31,0.046853,0.029622,0.044777,-0.020094,0.020282,0.050581,0.014721,-0.093438,-0.017814,0.030696,...,-0.029782,0.015676,-0.001042,0.013662,-0.049277,-0.010104,0.019293,-0.015499,-0.120437,-0.047065
2024-06-30,-0.121344,-0.037289,-0.003958,-0.006754,-0.019258,-0.002190,-0.021051,-0.103178,-0.001707,-0.004644,...,0.004666,-0.117244,-0.032797,0.000690,-0.002119,-0.014681,0.002466,-0.016483,-0.098994,0.002951
2024-09-30,-0.139406,-0.072163,0.011145,-0.032559,-0.017516,0.018771,-0.076748,-0.028293,-0.010904,-0.070939,...,0.076356,-0.073695,-0.001318,0.088352,0.041311,0.057502,0.096560,-0.006252,0.045902,0.064619

In [47]:
# Calculate percentage change
currency_8period_pct_change_decimals = currency_df_2.pct_change(periods=8)

# Exclude rows with NaN values
currency_8period_pct_change_decimals = currency_8period_pct_change_decimals.dropna()

# Rename columns only for those not already renamed
currency_8period_pct_change_decimals.columns = [
    f"{col} 8 Periods" if "Period" not in col else col for col in currency_8period_pct_change_decimals.columns
]

currency_8period_pct_change_decimals

,BRL/AUD 8 Periods,CAD/AUD 8 Periods,CHF/AUD 8 Periods,CNY/AUD 8 Periods,EUR/AUD 8 Periods,GBP/AUD 8 Periods,INR/AUD 8 Periods,JPY/AUD 8 Periods,NZD/AUD 8 Periods,USD/AUD 8 Periods,...,AUD/USD 8 Periods,BRL/USD 8 Periods,CAD/USD 8 Periods,CHF/USD 8 Periods,CNY/USD 8 Periods,EUR/USD 8 Periods,GBP/USD 8 Periods,INR/USD 8 Periods,JPY/USD 8 Periods,NZD/USD 8 Periods
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-30,0.053320,-0.152126,-0.071223,-0.095770,-0.044734,-0.164320,-0.171262,-0.163539,-0.031645,-0.224690,...,0.289806,0.358580,0.093594,0.197943,0.166282,0.232108,0.077866,0.068912,0.078873,0.248990
2008-09-30,0.059898,-0.010674,0.052427,0.088215,0.048540,-0.103252,-0.076059,0.047426,-0.034824,-0.058152,...,0.061742,0.125338,0.050409,0.117406,0.155404,0.113279,-0.047885,-0.019013,0.112096,0.024767
2008-12-31,0.025235,0.071007,0.307527,0.279599,0.184331,-0.163601,0.024458,0.467514,-0.079680,0.118088,...,-0.105616,-0.083046,-0.042109,0.169431,0.144453,0.059247,-0.251938,-0.083741,0.312521,-0.176880
2009-03-31,0.042088,0.070039,0.246712,0.323174,0.160067,-0.140503,-0.008401,0.392576,-0.083025,0.169877,...,-0.145209,-0.109233,-0.085341,0.065677,0.131037,-0.008385,-0.265310,-0.152391,0.190361,-0.216178
2009-06-30,0.033210,-0.036282,0.183563,0.172858,0.091159,-0.137365,-0.107953,0.345091,-0.119135,0.052078,...,-0.049500,-0.017934,-0.083986,0.124977,0.114801,0.037147,-0.180065,-0.152110,0.278508,-0.162738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,0.201663,0.055956,0.140791,-0.010056,0.016944,0.015361,-0.002114,-0.162755,-0.030585,0.116992,...,-0.104739,0.075803,-0.054644,0.021306,-0.113741,-0.089570,-0.090987,-0.106632,-0.250447,-0.132120
2023-12-31,0.219696,0.023089,0.150618,-0.047781,0.037954,0.001898,-0.039527,-0.135958,-0.015008,0.062039,...,-0.058415,0.148447,-0.036675,0.083404,-0.103405,-0.022679,-0.056628,-0.095633,-0.186431,-0.072547
2024-03-31,0.095216,0.061711,0.179318,0.011085,0.113442,0.106416,0.046889,-0.072325,-0.013169,0.151336,...,-0.131443,-0.048743,-0.077844,0.024304,-0.121816,-0.032912,-0.039015,-0.090717,-0.194262,-0.142881
2024-06-30,-0.025549,-0.027061,0.098651,-0.046212,0.060498,0.078391,-0.021876,-0.120589,0.011228,0.034563,...,-0.033409,-0.058104,-0.059565,0.061946,-0.078077,0.025069,0.042363,-0.054554,-0.149969,-0.022556
2024-09-30,-0.065061,-0.047104,0.091910,-0.043396,0.069703,0.127932,-0.083791,-0.047785,0.040939,-0.058650,...,0.062304,-0.006810,0.012266,0.159941,0.016205,0.136350,0.198207,-0.026707,0.011542,0.105794

# Merge Final df

In [48]:
from functools import reduce

# List of DataFrames to merge
dfs = [
    currency_1period_pct_change_decimals,
    currency_4period_pct_change_decimals,
    currency_8period_pct_change_decimals,
    interest_rates_difference_decimals,
    cpi_difference_decimals,
    gdp_pct_change_decimals
]

# Use reduce to iteratively merge the DataFrames using an outer join
final_df = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='outer'), dfs)

# Save the updated DataFrame to a CSV in the specified directory
output_file = os.path.join(directory, 'Exchange Rates Forecast OECD-Yahoo_final_df.csv')
final_df.to_csv(output_file)

# Print to confirm save location and show the DataFrame
print(f"File saved to: {output_file}")
final_df

File saved to: 05. Exchange Rates Forecast OECD-Yahoo\Exchange Rates Forecast OECD-Yahoo_final_df.csv

,BRL/AUD 1 Period,CAD/AUD 1 Period,CHF/AUD 1 Period,CNY/AUD 1 Period,EUR/AUD 1 Period,GBP/AUD 1 Period,INR/AUD 1 Period,JPY/AUD 1 Period,NZD/AUD 1 Period,USD/AUD 1 Period,...,BRL GDP,CNY GDP,CAD GDP,CHF GDP,EUR GDP,JPY GDP,GBP GDP,INR GDP,NZD GDP,USD GDP
Date,,,,,,,,,,,,,,,,,,,,,
2006-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.026453,0.137,0.030985,0.042495,0.035097,0.015102,0.026459,0.080898,0.021276,0.029729
2006-09-30,-0.005621,-0.006937,-0.028333,0.005758,-0.014388,0.007241,-0.003018,-0.034247,0.065479,-0.004977,...,0.049864,0.122,0.021508,0.037909,0.033186,0.002890,0.020832,0.101276,0.022223,0.023253
2006-12-31,-0.039507,-0.092511,-0.028144,-0.041561,-0.013619,-0.009435,-0.017681,-0.061786,0.021385,-0.053673,...,0.048338,0.125,0.015490,0.040488,0.038038,0.014624,0.016735,0.092505,0.034897,0.026346
2007-03-31,0.010725,-0.016540,-0.020583,-0.015639,-0.013434,-0.028652,-0.002791,-0.015642,-0.011947,-0.025321,...,0.051613,0.138,0.013741,0.033446,0.035529,0.019710,0.021028,0.095572,0.032156,0.015767
2007-06-30,0.017257,0.034687,-0.051901,-0.031087,-0.033163,-0.018538,0.013403,-0.087257,0.029777,-0.045808,...,0.065542,0.150,0.023019,0.041552,0.031319,0.018589,0.024733,0.107278,0.036813,0.019344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,-0.006431,0.011432,0.012244,0.023043,0.000872,-0.003630,0.015994,-0.001597,0.012449,0.029828,...,0.028054,0.049,0.008907,0.003481,-0.000086,0.010601,0.003283,0.080089,0.006981,0.032363
2023-12-31,-0.022901,-0.039746,0.021369,-0.032793,-0.013265,-0.017523,-0.048158,-0.005707,0.000140,-0.058352,...,0.025429,0.052,0.012125,0.005162,0.001496,0.008566,-0.002648,0.087234,0.009128,0.031962
2024-03-31,0.013256,0.023785,-0.019592,0.030174,0.021591,0.038635,0.033792,-0.021742,-0.012062,0.047496,...,0.022168,0.053,0.007514,0.005959,0.004623,-0.009181,0.003491,0.079607,0.013298,0.029018
2024-06-30,-0.106770,-0.031802,-0.017340,-0.025609,-0.027928,-0.018610,-0.020801,-0.076510,-0.002083,-0.020121,...,0.028091,0.047,0.010941,0.014011,0.006001,-0.008919,0.006935,0.066204,-0.004839,0.030368
2024-09-30,-0.026856,-0.025207,0.027592,-0.003537,0.002650,0.017301,-0.041811,0.081770,0.003121,-0.038762,...,0.035445,0.046,0.014930,0.016717,0.009281,0.004542,0.008517,0.057604,-0.014926,0.027188

# Regression

### 1 Period

In [49]:
import statsmodels.api as sm

# Filter columns ending with '1 Period'
dependent_vars_1_period = [col for col in final_df.columns if col.endswith('1 Period')]

# Prepare a list to store regression results
regression_results_1_period = []

# Loop through dependent variables dynamically
for y_col in dependent_vars_1_period:
    # Extract currency pair identifiers
    base, quote = y_col.split('/')[0], y_col.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    if apr_col in final_df.columns and cpi_col in final_df.columns and gdp_base_col in final_df.columns and gdp_quote_col in final_df.columns:
        # Prepare data for regression
        X = final_df[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]].dropna()
        Y = final_df[y_col].dropna()
        
        # Align indexes
        aligned_data = pd.concat([X, Y], axis=1).dropna()
        X = aligned_data[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]]
        Y = aligned_data[y_col]
        
        # Add constant to X
        X = sm.add_constant(X)
        
        # Run regression
        model = sm.OLS(Y, X).fit()
        intercept = model.params['const']
        apr_beta = model.params[apr_col]
        cpi_beta = model.params[cpi_col]
        gdp_base_beta = model.params[gdp_base_col]
        gdp_quote_beta = model.params[gdp_quote_col]
        r_squared = model.rsquared
        
        # Append the results to the list
        regression_results_1_period.append({
            'Currency Pair': y_col,
            'Intercept': intercept,
            'APR Beta': apr_beta,
            'CPI Beta': cpi_beta,
            'GDP Base Beta': gdp_base_beta,
            'GDP Quote Beta': gdp_quote_beta,
            'R-squared': r_squared
        })

# Convert the list of results to a DataFrame
regression_results_1_period_df = pd.DataFrame(regression_results_1_period)

# Set the 'Currency Pair' column as the index
regression_results_1_period_df.set_index('Currency Pair', inplace=True)

# Display the DataFrame
regression_results_1_period_df

,Intercept,APR Beta,CPI Beta,GDP Base Beta,GDP Quote Beta,R-squared
Currency Pair,,,,,,
BRL/AUD 1 Period,-0.067346,0.353904,0.088074,0.335584,0.896969,0.208513
CAD/AUD 1 Period,-0.000512,-0.003205,0.486043,0.464188,-0.220242,0.088855
CHF/AUD 1 Period,-0.013555,-0.298193,-0.455521,0.818573,-0.527404,0.069868
CNY/AUD 1 Period,0.028442,-0.381301,0.411923,-0.489619,0.592947,0.081772
EUR/AUD 1 Period,0.010597,0.419332,0.026892,0.309527,-0.182197,0.040589
...,...,...,...,...,...,...
EUR/USD 1 Period,0.006465,-0.420590,0.935216,0.328101,-0.505899,0.071553
GBP/USD 1 Period,-0.016138,-0.666135,0.702894,-0.296145,0.762945,0.084792
INR/USD 1 Period,-0.002544,-0.300867,0.116335,0.113475,-0.120346,0.053976
JPY/USD 1 Period,0.019038,-0.193433,0.252091,0.757491,-1.097921,0.078855
NZD/USD 1 Period,0.016212,-0.542981,0.894817,0.155844,-0.460128,0.072190

In [50]:
# Initialize a dictionary to store the weighted results
weighted_results = {}

# Loop through the regression results
for currency_pair, params in regression_results_1_period_df.iterrows():
    # Extract the base and quote currencies
    base, quote = currency_pair.split('/')[0], currency_pair.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    # Check if all necessary columns exist in final_df
    if all(col in final_df.columns for col in [apr_col, cpi_col, gdp_base_col, gdp_quote_col]):
        # Get the most recent data for the explanatory variables
        most_recent_data = final_df.iloc[-1]
        
        # Calculate the weighted result for this currency pair
        weighted_result = (
            params['Intercept'] * 1 +  # Intercept term
            params['APR Beta'] * most_recent_data[apr_col] +
            params['CPI Beta'] * most_recent_data[cpi_col] +
            params['GDP Base Beta'] * most_recent_data[gdp_base_col] +
            params['GDP Quote Beta'] * most_recent_data[gdp_quote_col]
        )
        
        # Store the weighted result in the dictionary
        weighted_results[currency_pair] = weighted_result
    else:
        print(f"Missing one or more columns for {currency_pair}. Skipping.")

# Convert the dictionary to a Series
currency_forecast_1_period_df = pd.Series(weighted_results)

# Display the result
currency_forecast_1_period_df

BRL/AUD 1 Period   -0.024373
CAD/AUD 1 Period    0.000830
CHF/AUD 1 Period    0.014687
CNY/AUD 1 Period    0.006879
EUR/AUD 1 Period    0.008581
                      ...
EUR/USD 1 Period   -0.002076
GBP/USD 1 Period    0.005193
INR/USD 1 Period   -0.003815
JPY/USD 1 Period    0.002549
NZD/USD 1 Period   -0.003271
Length: 110, dtype: float64

In [51]:
# Create a new DataFrame for the updated values
currency_forecast_1_period_df_2 = pd.DataFrame(index=currency_forecast_1_period_df.index)

# Loop through each currency pair in the forecast DataFrame
for currency_pair in currency_forecast_1_period_df.index:
    # Extract the base/quote from the first 7 characters
    base_quote = currency_pair[:7]
    
    # Ensure the base/quote exists in merged_dfs
    if base_quote in merged_dfs.columns:
        # Get the last value of the base/quote from merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]
        
        # Get the weighted result for the currency pair from currency_forecast_1_period_df
        weighted_result = currency_forecast_1_period_df.loc[currency_pair]
        
        # Calculate the updated value
        updated_value = (last_value * weighted_result) + last_value
        
        # Add the updated value to the new DataFrame
        currency_forecast_1_period_df_2.loc[currency_pair, 'Rates Forecast'] = updated_value
    else:
        print(f"Base/Quote {base_quote} does not exist in merged_dfs. Skipping.")

# Display the final DataFrame
currency_forecast_1_period_df_2

                  Rates Forecast
BRL/AUD 1 Period        0.259536
CAD/AUD 1 Period        1.070813
CHF/AUD 1 Period        1.744875
CNY/AUD 1 Period        0.207592
EUR/AUD 1 Period        1.628271
...                          ...
EUR/USD 1 Period        1.114663
GBP/USD 1 Period        1.345279
INR/USD 1 Period        0.011900
JPY/USD 1 Period        0.007021
NZD/USD 1 Period        0.632904

[110 rows x 1 columns]

In [52]:
# Add a new column for percentage changes to the existing DataFrame
currency_forecast_1_period_df_2['Percentage Change'] = None

# Loop through each currency pair
for currency_pair in currency_forecast_1_period_df_2.index:
    base_quote = currency_pair[:7]  # Extract base/quote (first 7 characters of the index)
    
    if base_quote in merged_dfs.columns:  # Check if the column exists in merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]  # Get the last value from merged_dfs
        rates_forecast = currency_forecast_1_period_df_2.loc[currency_pair, 'Rates Forecast']  # Get the forecast value
        
        # Calculate the percentage change
        percentage_change = ((rates_forecast - last_value) / last_value) * 100
        
        # Store the percentage change in the existing DataFrame
        currency_forecast_1_period_df_2.at[currency_pair, 'Percentage Change'] = percentage_change
    else:
        print(f"Column {base_quote} does not exist in merged_dfs. Skipping.")

# Display the updated DataFrame
currency_forecast_1_period_df_2

                  Rates Forecast Percentage Change
BRL/AUD 1 Period        0.259536         -2.437341
CAD/AUD 1 Period        1.070813          0.083037
CHF/AUD 1 Period        1.744875          1.468654
CNY/AUD 1 Period        0.207592          0.687888
EUR/AUD 1 Period        1.628271          0.858103
...                          ...               ...
EUR/USD 1 Period        1.114663          -0.20758
GBP/USD 1 Period        1.345279          0.519278
INR/USD 1 Period        0.011900         -0.381532
JPY/USD 1 Period        0.007021          0.254903
NZD/USD 1 Period        0.632904         -0.327138

[110 rows x 2 columns]

In [53]:
# Right=first df, left=second df
# Outer=ensures that all rows from both DataFrames are included (rows with missing values in one DataFrame will have NaN)
currency_forecast_1_period_df_2 = pd.merge(
    currency_forecast_1_period_df_2,
    regression_results_1_period_df[['R-squared']],  # Select only the 'R-squared' column
    left_index=True,
    right_index=True,
    how='inner'  # Use 'inner' or any other join type you prefer
)

currency_forecast_1_period_df_2

                  Rates Forecast Percentage Change  R-squared
BRL/AUD 1 Period        0.259536         -2.437341   0.208513
CAD/AUD 1 Period        1.070813          0.083037   0.088855
CHF/AUD 1 Period        1.744875          1.468654   0.069868
CNY/AUD 1 Period        0.207592          0.687888   0.081772
EUR/AUD 1 Period        1.628271          0.858103   0.040589
...                          ...               ...        ...
EUR/USD 1 Period        1.114663          -0.20758   0.071553
GBP/USD 1 Period        1.345279          0.519278   0.084792
INR/USD 1 Period        0.011900         -0.381532   0.053976
JPY/USD 1 Period        0.007021          0.254903   0.078855
NZD/USD 1 Period        0.632904         -0.327138   0.072190

[110 rows x 3 columns]

In [54]:
# Update the index to only include the first 7 characters
currency_forecast_1_period_df_2.index = currency_forecast_1_period_df_2.index.str[:7]

# Rename the column
currency_forecast_1_period_df_2.columns = ['Forecast (3M)', 'Change (3M)', 'R-squared (3M)']

# Change numbers format for column 'Change (4M)' to include %
currency_forecast_1_period_df_2['Change (3M)'] = currency_forecast_1_period_df_2['Change (3M)'].apply(lambda x: f"{x:.2f}%")

# Display the updated DataFrame
currency_forecast_1_period_df_2

         Forecast (3M) Change (3M)  R-squared (3M)
BRL/AUD       0.259536      -2.44%        0.208513
CAD/AUD       1.070813       0.08%        0.088855
CHF/AUD       1.744875       1.47%        0.069868
CNY/AUD       0.207592       0.69%        0.081772
EUR/AUD       1.628271       0.86%        0.040589
...                ...         ...             ...
EUR/USD       1.114663      -0.21%        0.071553
GBP/USD       1.345279       0.52%        0.084792
INR/USD       0.011900      -0.38%        0.053976
JPY/USD       0.007021       0.25%        0.078855
NZD/USD       0.632904      -0.33%        0.072190

[110 rows x 3 columns]

### 4 Periods

In [55]:
# Filter columns ending with '4 Period'
dependent_vars_4_periods = [col for col in final_df.columns if col.endswith('4 Periods')]

# Prepare a list to store regression results
regression_results_4_periods = []

# Loop through dependent variables dynamically
for y_col in dependent_vars_4_periods:
    # Extract currency pair identifiers
    base, quote = y_col.split('/')[0], y_col.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    if apr_col in final_df.columns and cpi_col in final_df.columns and gdp_base_col in final_df.columns and gdp_quote_col in final_df.columns:
        # Prepare data for regression
        X = final_df[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]].dropna()
        Y = final_df[y_col].dropna()
        
        # Align indexes
        aligned_data = pd.concat([X, Y], axis=1).dropna()
        X = aligned_data[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]]
        Y = aligned_data[y_col]
        
        # Add constant to X
        X = sm.add_constant(X)
        
        # Run regression
        model = sm.OLS(Y, X).fit()
        intercept = model.params['const']
        apr_beta = model.params[apr_col]
        cpi_beta = model.params[cpi_col]
        gdp_base_beta = model.params[gdp_base_col]
        gdp_quote_beta = model.params[gdp_quote_col]
        r_squared = model.rsquared
        
        # Append the results to the list
        regression_results_4_periods.append({
            'Currency Pair': y_col,
            'Intercept': intercept,
            'APR Beta': apr_beta,
            'CPI Beta': cpi_beta,
            'GDP Base Beta': gdp_base_beta,
            'GDP Quote Beta': gdp_quote_beta,
            'R-squared': r_squared
        })

# Convert the list of results to a DataFrame
regression_results_4_periods_df = pd.DataFrame(regression_results_4_periods)

# Set the 'Currency Pair' column as the index
regression_results_4_periods_df.set_index('Currency Pair', inplace=True)

# Display the DataFrame
regression_results_4_periods_df

,Intercept,APR Beta,CPI Beta,GDP Base Beta,GDP Quote Beta,R-squared
Currency Pair,,,,,,
BRL/AUD 4 Periods,-0.199259,2.445917,-1.448184,1.231796,0.451800,0.484113
CAD/AUD 4 Periods,0.006241,1.267352,-0.688655,0.356610,-0.012243,0.171817
CHF/AUD 4 Periods,-0.014021,-0.045945,-3.606681,-0.396481,-1.109561,0.138347
CNY/AUD 4 Periods,0.093919,-0.034086,0.102264,-1.115915,0.319179,0.107238
EUR/AUD 4 Periods,0.050136,3.675125,-2.029008,-0.816605,1.016169,0.189248
...,...,...,...,...,...,...
EUR/USD 4 Periods,-0.000254,0.169581,-2.332425,0.473376,-0.911315,0.084890
GBP/USD 4 Periods,-0.084236,1.216240,-0.799195,-1.550274,4.378946,0.304366
INR/USD 4 Periods,-0.011312,-1.420382,0.360484,0.460784,0.416651,0.299080
JPY/USD 4 Periods,0.018694,0.526507,-0.576561,0.152635,-1.573008,0.116543
NZD/USD 4 Periods,-0.012968,0.336089,-1.107804,-0.106490,0.600049,0.036107

In [56]:
# Initialize a dictionary to store the weighted results
weighted_results = {}

# Loop through the regression results
for currency_pair, params in regression_results_4_periods_df.iterrows():
    # Extract the base and quote currencies
    base, quote = currency_pair.split('/')[0], currency_pair.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    # Check if all necessary columns exist in final_df
    if all(col in final_df.columns for col in [apr_col, cpi_col, gdp_base_col, gdp_quote_col]):
        # Get the most recent data for the explanatory variables
        most_recent_data = final_df.iloc[-1]
        
        # Calculate the weighted result for this currency pair
        weighted_result = (
            params['Intercept'] * 1 +  # Intercept term
            params['APR Beta'] * most_recent_data[apr_col] +
            params['CPI Beta'] * most_recent_data[cpi_col] +
            params['GDP Base Beta'] * most_recent_data[gdp_base_col] +
            params['GDP Quote Beta'] * most_recent_data[gdp_quote_col]
        )
        
        # Store the weighted result in the dictionary
        weighted_results[currency_pair] = weighted_result
    else:
        print(f"Missing one or more columns for {currency_pair}. Skipping.")

# Convert the dictionary to a Series
currency_forecast_4_periods_df = pd.Series(weighted_results)

# Display the result
currency_forecast_4_periods_df

BRL/AUD 4 Periods   -0.021773
CAD/AUD 4 Periods    0.016083
CHF/AUD 4 Periods    0.034594
CNY/AUD 4 Periods    0.043398
EUR/AUD 4 Periods    0.036339
                       ...
EUR/USD 4 Periods   -0.012583
GBP/USD 4 Periods    0.017283
INR/USD 4 Periods    0.004563
JPY/USD 4 Periods   -0.050187
NZD/USD 4 Periods    0.010397
Length: 110, dtype: float64

In [57]:
# Create a new DataFrame for the updated values
currency_forecast_4_periods_df_2 = pd.DataFrame(index=currency_forecast_4_periods_df.index)

# Loop through each currency pair in the forecast DataFrame
for currency_pair in currency_forecast_4_periods_df.index:
    # Extract the base/quote from the first 7 characters
    base_quote = currency_pair[:7]
    
    # Ensure the base/quote exists in merged_dfs
    if base_quote in merged_dfs.columns:
        # Get the last value of the base/quote from merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]
        
        # Get the weighted result for the currency pair from currency_forecast_1_period_df
        weighted_result = currency_forecast_4_periods_df.loc[currency_pair]
        
        # Calculate the updated value
        updated_value = (last_value * weighted_result) + last_value
        
        # Add the updated value to the new DataFrame
        currency_forecast_4_periods_df_2.loc[currency_pair, 'Rates Forecast'] = updated_value
    else:
        print(f"Base/Quote {base_quote} does not exist in merged_dfs. Skipping.")

# Display the final DataFrame
currency_forecast_4_periods_df_2

                   Rates Forecast
BRL/AUD 4 Periods        0.260228
CAD/AUD 4 Periods        1.087132
CHF/AUD 4 Periods        1.779109
CNY/AUD 4 Periods        0.215121
EUR/AUD 4 Periods        1.673084
...                           ...
EUR/USD 4 Periods        1.102926
GBP/USD 4 Periods        1.361460
INR/USD 4 Periods        0.012000
JPY/USD 4 Periods        0.006652
NZD/USD 4 Periods        0.641583

[110 rows x 1 columns]

In [58]:
# Add a new column for percentage changes to the existing DataFrame
currency_forecast_4_periods_df_2['Percentage Change'] = None

# Loop through each currency pair
for currency_pair in currency_forecast_4_periods_df_2.index:
    base_quote = currency_pair[:7]  # Extract base/quote (first 7 characters of the index)
    
    if base_quote in merged_dfs.columns:  # Check if the column exists in merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]  # Get the last value from merged_dfs
        rates_forecast = currency_forecast_4_periods_df_2.loc[currency_pair, 'Rates Forecast']  # Get the forecast value
        
        # Calculate the percentage change
        percentage_change = ((rates_forecast - last_value) / last_value) * 100
        
        # Store the percentage change in the existing DataFrame
        currency_forecast_4_periods_df_2.at[currency_pair, 'Percentage Change'] = percentage_change
    else:
        print(f"Column {base_quote} does not exist in merged_dfs. Skipping.")

# Display the updated DataFrame
currency_forecast_4_periods_df_2

                   Rates Forecast Percentage Change
BRL/AUD 4 Periods        0.260228         -2.177285
CAD/AUD 4 Periods        1.087132          1.608282
CHF/AUD 4 Periods        1.779109          3.459448
CNY/AUD 4 Periods        0.215121          4.339832
EUR/AUD 4 Periods        1.673084          3.633858
...                           ...               ...
EUR/USD 4 Periods        1.102926         -1.258303
GBP/USD 4 Periods        1.361460          1.728283
INR/USD 4 Periods        0.012000          0.456282
JPY/USD 4 Periods        0.006652         -5.018726
NZD/USD 4 Periods        0.641583          1.039748

[110 rows x 2 columns]

In [59]:
# Right=first df, left=second df
# Outer=ensures that all rows from both DataFrames are included (rows with missing values in one DataFrame will have NaN)
currency_forecast_4_periods_df_2 = pd.merge(
    currency_forecast_4_periods_df_2,
    regression_results_4_periods_df[['R-squared']],  # Select only the 'R-squared' column
    left_index=True,
    right_index=True,
    how='inner'  # Use 'inner' or any other join type you prefer
)

currency_forecast_4_periods_df_2

                   Rates Forecast Percentage Change  R-squared
BRL/AUD 4 Periods        0.260228         -2.177285   0.484113
CAD/AUD 4 Periods        1.087132          1.608282   0.171817
CHF/AUD 4 Periods        1.779109          3.459448   0.138347
CNY/AUD 4 Periods        0.215121          4.339832   0.107238
EUR/AUD 4 Periods        1.673084          3.633858   0.189248
...                           ...               ...        ...
EUR/USD 4 Periods        1.102926         -1.258303   0.084890
GBP/USD 4 Periods        1.361460          1.728283   0.304366
INR/USD 4 Periods        0.012000          0.456282   0.299080
JPY/USD 4 Periods        0.006652         -5.018726   0.116543
NZD/USD 4 Periods        0.641583          1.039748   0.036107

[110 rows x 3 columns]

In [60]:
# Update the index to only include the first 7 characters
currency_forecast_4_periods_df_2.index = currency_forecast_4_periods_df_2.index.str[:7]

# Rename the column
currency_forecast_4_periods_df_2.columns = ['Forecast (1Y)', 'Change (1Y)', 'R-squared (1Y)']

# Change numbers format for column 'Change (4M)' to include %
currency_forecast_4_periods_df_2['Change (1Y)'] = currency_forecast_4_periods_df_2['Change (1Y)'].apply(lambda x: f"{x:.2f}%")

# Display the updated DataFrame
currency_forecast_4_periods_df_2

         Forecast (1Y) Change (1Y)  R-squared (1Y)
BRL/AUD       0.260228      -2.18%        0.484113
CAD/AUD       1.087132       1.61%        0.171817
CHF/AUD       1.779109       3.46%        0.138347
CNY/AUD       0.215121       4.34%        0.107238
EUR/AUD       1.673084       3.63%        0.189248
...                ...         ...             ...
EUR/USD       1.102926      -1.26%        0.084890
GBP/USD       1.361460       1.73%        0.304366
INR/USD       0.012000       0.46%        0.299080
JPY/USD       0.006652      -5.02%        0.116543
NZD/USD       0.641583       1.04%        0.036107

[110 rows x 3 columns]

### 8 Periods

In [61]:
# Filter columns ending with '8 Period'
dependent_vars_8_periods = [col for col in final_df.columns if col.endswith('8 Periods')]

# Prepare a list to store regression results
regression_results_8_periods = []

# Loop through dependent variables dynamically
for y_col in dependent_vars_8_periods:
    # Extract currency pair identifiers
    base, quote = y_col.split('/')[0], y_col.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    if apr_col in final_df.columns and cpi_col in final_df.columns and gdp_base_col in final_df.columns and gdp_quote_col in final_df.columns:
        # Prepare data for regression
        X = final_df[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]].dropna()
        Y = final_df[y_col].dropna()
        
        # Align indexes
        aligned_data = pd.concat([X, Y], axis=1).dropna()
        X = aligned_data[[apr_col, cpi_col, gdp_base_col, gdp_quote_col]]
        Y = aligned_data[y_col]
        
        # Add constant to X
        X = sm.add_constant(X)
        
        # Run regression
        model = sm.OLS(Y, X).fit()
        intercept = model.params['const']
        apr_beta = model.params[apr_col]
        cpi_beta = model.params[cpi_col]
        gdp_base_beta = model.params[gdp_base_col]
        gdp_quote_beta = model.params[gdp_quote_col]
        r_squared = model.rsquared
        
        # Append the results to the list
        regression_results_8_periods.append({
            'Currency Pair': y_col,
            'Intercept': intercept,
            'APR Beta': apr_beta,
            'CPI Beta': cpi_beta,
            'GDP Base Beta': gdp_base_beta,
            'GDP Quote Beta': gdp_quote_beta,
            'R-squared': r_squared
        })

# Convert the list of results to a DataFrame
regression_results_8_periods_df = pd.DataFrame(regression_results_8_periods)

# Set the 'Currency Pair' column as the index
regression_results_8_periods_df.set_index('Currency Pair', inplace=True)

# Display the DataFrame
regression_results_8_periods_df

,Intercept,APR Beta,CPI Beta,GDP Base Beta,GDP Quote Beta,R-squared
Currency Pair,,,,,,
BRL/AUD 8 Periods,-0.151448,3.248948,-4.833946,0.597305,-0.676252,0.745658
CAD/AUD 8 Periods,0.033589,2.567252,-1.454640,0.108977,-0.461953,0.329626
CHF/AUD 8 Periods,0.077106,0.701673,-1.801341,-1.974993,0.058296,0.164808
CNY/AUD 8 Periods,0.065051,1.431483,-0.898300,-0.314521,-0.513879,0.070090
EUR/AUD 8 Periods,0.086033,7.014877,-5.303059,-1.493754,1.842024,0.486897
...,...,...,...,...,...,...
EUR/USD 8 Periods,-0.018519,0.638366,-2.367056,0.061147,-0.517362,0.083390
GBP/USD 8 Periods,-0.097119,1.941898,-2.309537,-1.242352,3.693424,0.308056
INR/USD 8 Periods,-0.024356,-0.700282,-0.568409,0.298665,-0.297770,0.203244
JPY/USD 8 Periods,0.027571,2.626474,-2.391489,0.006969,-2.741074,0.306245
NZD/USD 8 Periods,-0.055946,2.152215,-0.606126,-1.997273,2.997043,0.187609

In [62]:
# Initialize a dictionary to store the weighted results
weighted_results = {}

# Loop through the regression results
for currency_pair, params in regression_results_8_periods_df.iterrows():
    # Extract the base and quote currencies
    base, quote = currency_pair.split('/')[0], currency_pair.split('/')[1].split()[0]
    
    # Find the matching explanatory variable columns
    apr_col = f"{base} APR-{quote} APR"
    cpi_col = f"{base} CPI-{quote} CPI"
    gdp_base_col = f"{base} GDP"
    gdp_quote_col = f"{quote} GDP"
    
    # Check if all necessary columns exist in final_df
    if all(col in final_df.columns for col in [apr_col, cpi_col, gdp_base_col, gdp_quote_col]):
        # Get the most recent data for the explanatory variables
        most_recent_data = final_df.iloc[-1]
        
        # Calculate the weighted result for this currency pair
        weighted_result = (
            params['Intercept'] * 1 +  # Intercept term
            params['APR Beta'] * most_recent_data[apr_col] +
            params['CPI Beta'] * most_recent_data[cpi_col] +
            params['GDP Base Beta'] * most_recent_data[gdp_base_col] +
            params['GDP Quote Beta'] * most_recent_data[gdp_quote_col]
        )
        
        # Store the weighted result in the dictionary
        weighted_results[currency_pair] = weighted_result
    else:
        print(f"Missing one or more columns for {currency_pair}. Skipping.")

# Convert the dictionary to a Series
currency_forecast_8_periods_df = pd.Series(weighted_results)

# Display the result
currency_forecast_8_periods_df

BRL/AUD 8 Periods   -0.009220
CAD/AUD 8 Periods    0.041136
CHF/AUD 8 Periods    0.049965
CNY/AUD 8 Periods    0.046366
EUR/AUD 8 Periods    0.068684
                       ...
EUR/USD 8 Periods   -0.030982
GBP/USD 8 Periods   -0.017077
INR/USD 8 Periods   -0.028393
JPY/USD 8 Periods   -0.179784
NZD/USD 8 Periods    0.060046
Length: 110, dtype: float64

In [63]:
# Create a new DataFrame for the updated values
currency_forecast_8_periods_df_2 = pd.DataFrame(index=currency_forecast_8_periods_df.index)

# Loop through each currency pair in the forecast DataFrame
for currency_pair in currency_forecast_8_periods_df.index:
    # Extract the base/quote from the first 7 characters
    base_quote = currency_pair[:7]
    
    # Ensure the base/quote exists in merged_dfs
    if base_quote in merged_dfs.columns:
        # Get the last value of the base/quote from merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]
        
        # Get the weighted result for the currency pair from currency_forecast_1_period_df
        weighted_result = currency_forecast_8_periods_df.loc[currency_pair]
        
        # Calculate the updated value
        updated_value = (last_value * weighted_result) + last_value
        
        # Add the updated value to the new DataFrame
        currency_forecast_8_periods_df_2.loc[currency_pair, 'Rates Forecast'] = updated_value
    else:
        print(f"Base/Quote {base_quote} does not exist in merged_dfs. Skipping.")

# Display the final DataFrame
currency_forecast_8_periods_df_2

                   Rates Forecast
BRL/AUD 8 Periods        0.263567
CAD/AUD 8 Periods        1.113938
CHF/AUD 8 Periods        1.805540
CNY/AUD 8 Periods        0.215733
EUR/AUD 8 Periods        1.725303
...                           ...
EUR/USD 8 Periods        1.082375
GBP/USD 8 Periods        1.315474
INR/USD 8 Periods        0.011606
JPY/USD 8 Periods        0.005744
NZD/USD 8 Periods        0.673109

[110 rows x 1 columns]

In [64]:
# Add a new column for percentage changes to the existing DataFrame
currency_forecast_8_periods_df_2['Percentage Change'] = None

# Loop through each currency pair
for currency_pair in currency_forecast_8_periods_df_2.index:
    base_quote = currency_pair[:7]  # Extract base/quote (first 7 characters of the index)
    
    if base_quote in merged_dfs.columns:  # Check if the column exists in merged_dfs
        last_value = merged_dfs[base_quote].iloc[-1]  # Get the last value from merged_dfs
        rates_forecast = currency_forecast_8_periods_df_2.loc[currency_pair, 'Rates Forecast']  # Get the forecast value
        
        # Calculate the percentage change
        percentage_change = ((rates_forecast - last_value) / last_value) * 100
        
        # Store the percentage change in the existing DataFrame
        currency_forecast_8_periods_df_2.at[currency_pair, 'Percentage Change'] = percentage_change
    else:
        print(f"Column {base_quote} does not exist in merged_dfs. Skipping.")

# Display the updated DataFrame
currency_forecast_8_periods_df_2

                   Rates Forecast Percentage Change
BRL/AUD 8 Periods        0.263567         -0.922008
CAD/AUD 8 Periods        1.113938          4.113638
CHF/AUD 8 Periods        1.805540          4.996518
CNY/AUD 8 Periods        0.215733          4.636587
EUR/AUD 8 Periods        1.725303          6.868386
...                           ...               ...
EUR/USD 8 Periods        1.082375         -3.098172
GBP/USD 8 Periods        1.315474         -1.707748
INR/USD 8 Periods        0.011606         -2.839272
JPY/USD 8 Periods        0.005744        -17.978429
NZD/USD 8 Periods        0.673109          6.004615

[110 rows x 2 columns]

In [65]:
# Right=first df, left=second df
# Outer=ensures that all rows from both DataFrames are included (rows with missing values in one DataFrame will have NaN)
currency_forecast_8_periods_df_2 = pd.merge(
    currency_forecast_8_periods_df_2,
    regression_results_8_periods_df[['R-squared']],  # Select only the 'R-squared' column
    left_index=True,
    right_index=True,
    how='inner'  # Use 'inner' or any other join type you prefer
)

currency_forecast_8_periods_df_2

                   Rates Forecast Percentage Change  R-squared
BRL/AUD 8 Periods        0.263567         -0.922008   0.745658
CAD/AUD 8 Periods        1.113938          4.113638   0.329626
CHF/AUD 8 Periods        1.805540          4.996518   0.164808
CNY/AUD 8 Periods        0.215733          4.636587   0.070090
EUR/AUD 8 Periods        1.725303          6.868386   0.486897
...                           ...               ...        ...
EUR/USD 8 Periods        1.082375         -3.098172   0.083390
GBP/USD 8 Periods        1.315474         -1.707748   0.308056
INR/USD 8 Periods        0.011606         -2.839272   0.203244
JPY/USD 8 Periods        0.005744        -17.978429   0.306245
NZD/USD 8 Periods        0.673109          6.004615   0.187609

[110 rows x 3 columns]

In [66]:
# Update the index to only include the first 7 characters
currency_forecast_8_periods_df_2.index = currency_forecast_8_periods_df_2.index.str[:7]

# Rename the column
currency_forecast_8_periods_df_2.columns = ['Forecast (2Y)', 'Change (2Y)', 'R-squared (2Y)']

# Change numbers format for column 'Change (4M)' to include %
currency_forecast_8_periods_df_2['Change (2Y)'] = currency_forecast_8_periods_df_2['Change (2Y)'].apply(lambda x: f"{x:.2f}%")

# Display the updated DataFrame
currency_forecast_8_periods_df_2

         Forecast (2Y) Change (2Y)  R-squared (2Y)
BRL/AUD       0.263567      -0.92%        0.745658
CAD/AUD       1.113938       4.11%        0.329626
CHF/AUD       1.805540       5.00%        0.164808
CNY/AUD       0.215733       4.64%        0.070090
EUR/AUD       1.725303       6.87%        0.486897
...                ...         ...             ...
EUR/USD       1.082375      -3.10%        0.083390
GBP/USD       1.315474      -1.71%        0.308056
INR/USD       0.011606      -2.84%        0.203244
JPY/USD       0.005744     -17.98%        0.306245
NZD/USD       0.673109       6.00%        0.187609

[110 rows x 3 columns]

### Merge Currency Forecast dfs

In [67]:
# Right=first df, left=second df
# Outer=ensures that all rows from both DataFrames are included (rows with missing values in one DataFrame will have NaN)
final_currency_forecast_df = pd.merge(currency_forecast_1_period_df_2, currency_forecast_4_periods_df_2, left_index=True, right_index=True, how='inner')
final_currency_forecast_df = pd.merge(final_currency_forecast_df, currency_forecast_8_periods_df_2, left_index=True, right_index=True, how='inner')

# Get the last date from the DataFrame index
last_date = final_df.index[-1]

# Extract only the first 9 characters
last_date = str(last_date)[:10]

# Print a guiding message
print(f"The forecasts are based on data up to {last_date}. The 3-month, 1-year, and 2-year forecasts are calculated starting from this date.\n")

final_currency_forecast_df

The forecasts are based on data up to 2024-09-30. The 3-month, 1-year, and 2-year forecasts are calculated starting from this date.

,Forecast (3M),Change (3M),R-squared (3M),Forecast (1Y),Change (1Y),R-squared (1Y),Forecast (2Y),Change (2Y),R-squared (2Y)
BRL/AUD,0.259536,-2.44%,0.208513,0.260228,-2.18%,0.484113,0.263567,-0.92%,0.745658
CAD/AUD,1.070813,0.08%,0.088855,1.087132,1.61%,0.171817,1.113938,4.11%,0.329626
CHF/AUD,1.744875,1.47%,0.069868,1.779109,3.46%,0.138347,1.805540,5.00%,0.164808
CNY/AUD,0.207592,0.69%,0.081772,0.215121,4.34%,0.107238,0.215733,4.64%,0.070090
EUR/AUD,1.628271,0.86%,0.040589,1.673084,3.63%,0.189248,1.725303,6.87%,0.486897
...,...,...,...,...,...,...,...,...,...
EUR/USD,1.114663,-0.21%,0.071553,1.102926,-1.26%,0.084890,1.082375,-3.10%,0.083390
GBP/USD,1.345279,0.52%,0.084792,1.361460,1.73%,0.304366,1.315474,-1.71%,0.308056
INR/USD,0.011900,-0.38%,0.053976,0.012000,0.46%,0.299080,0.011606,-2.84%,0.203244
JPY/USD,0.007021,0.25%,0.078855,0.006652,-5.02%,0.116543,0.005744,-17.98%,0.306245
NZD/USD,0.632904,-0.33%,0.072190,0.641583,1.04%,0.036107,0.673109,6.00%,0.187609

In [68]:
from IPython.display import display, HTML

# Sort the DataFrame by index (or values, depending on your needs)
final_currency_forecast_df = final_currency_forecast_df.sort_index()

# Print a guiding message
print(f"The forecasts are based on data up to {last_date}. The 3-month, 1-year, and 2-year forecasts are calculated starting from this date.\n")

# Use DataTables for an interactive table
display(HTML(final_currency_forecast_df.to_html(notebook=True)))

The forecasts are based on data up to 2024-09-30. The 3-month, 1-year, and 2-year forecasts are calculated starting from this date.